<div id="all-container" style="padding:0px 20px;">
	<h1 style="font-size: 200%; margin-top: 10px;">
	<span style="background-color: #ddeeff;font-size: 150%; padding: 20px 10px 5px 10px;">404</span> &mdash; {"lbl_not_found"|translate}</h1>
	<h4>{lbl_err_cant_find_required_page}: <span>{$link404|escape:'html'}</span></h4>
	<p>{"lbl_follow_link"|translate}</p>
	<ul>
<li style="padding-bottom: 5px;"><a href="{$smarty.const.CONF_FULL_SHOP_URL}" style="font-weight: bold; font-size: 110%">{$smarty.const.CONF_SHOP_NAME|escape:'html'}</a> <span style="color: #999; font-weight: bold"> — {lbl_pgn_mainpage}</span></li>
</ul>
</div>