{* шаблон счета на оплату *}
<HTML>

<HEAD>
<TITLE>Счет</TITLE>
<LINK href="style1.css" type=text/css rel=STYLESHEET>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<base href="{$smarty.const.CONF_FULL_SHOP_URL}" />
</HEAD>

<BODY>
<CENTER>
<TABLE cellPadding=5 width="100%">
  <TBODY>
  <TR>
    <TD vAlign=top width="50%">Оплата является признанием условий Поставщика. 
      Цена и срок поставки пересматриваются в случае неоплаты в течение 2-х 
      банковских дней или в случае непоступления денег в течение 7 календарных 
      дней. Срок поставки исчисляется с момента поступления денег на расчетный 
      счет поставщика. 
      <HR width="95%" SIZE=1>
    </TD>
      <TD><IMG src="{$smarty.const.URL_IMAGES}/companyname.gif"> </TD>
    </TR>
  <TR>
    <TD colSpan=2>
      <TABLE>
        <TBODY>
        <TR>
          <TD align=right width="20%"><FONT class=sc>ИНН</FONT> </TD>
          <TD><FONT class=sc><B>{$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_INN|escape:"html"}</B></FONT> </TD></TR>
        <TR>
          <TD align=right width="20%"><FONT class=sc>КПП</FONT> </TD>
          <TD><FONT class=sc><B>{$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_KPP|escape:"html"}</B></FONT> </TD></TR>
        <TR>
          <TD align=right><FONT class=sc>Получатель</FONT> </TD>
              <TD><FONT class=sc><B>
                {$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_COMPANYNAME|escape:"html"}
                </B></FONT></TD>
            </TR>
        <TR>
          <TD align=right><FONT class=sc>Адрес</FONT> </TD>
              <TD><FONT class=sc><B>
                {$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_COMPANYADDRESS|escape:"html"}
                </B></FONT></TD>
            </TR>
        <TR>
          <TD align=right><FONT class=sc>Тел.</FONT> </TD>
              <TD><FONT class=sc><B>
                {$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_COMPANYPHONE|escape:"html"}
                </B></FONT></TD>
            </TR>
        <TR>
          <TD align=right><FONT class=sc>Р/счет</FONT> </TD>
              <TD><NOBR><FONT 
            class=sc><B> 
                {$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_BANK_ACCOUNT_NUMBER|escape:"html"}
                </B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Банк <B>
                {$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_BANKNAME|escape:"html"}
                </B></FONT></NOBR></TD>
            </TR>
        <TR>
              <TD align=right>К/счет</TD>
              <TD><FONT class=sc><B><NOBR> </NOBR> 
                {$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_BANK_KOR_NUMBER|escape:"html"}
                </B></FONT></TD>
            </TR>
			<TR>
              <TD align=right>БИК</TD>
              <TD><FONT class=sc><B><NOBR> </NOBR> 
                {$invoice_data.CONF_PAYMENTMODULE_INVOICE_JUR_BIK|escape:"html"}
                </B></FONT></TD>
            </TR></TBODY></TABLE>
      <HR SIZE=1>
    </TD></TR>
  <TR>
    <TD colSpan=2>
	
      <TABLE>
        <TBODY>
        <TR>
              <TD colSpan=2><FONT class=sc><B>Счет #{$orderID}
                от 
                {$order_time}
                </B></FONT> </TD>
            </TR>
        <TR>
          <TD align=right width="20%"><FONT class=sc>ИНН</FONT> </TD>
          <TD><FONT class=sc><B>{$customer_inn}</B></FONT> </TD></TR>
        <TR>
          <TD align=right width="20%"><FONT class=sc>Плательщик</FONT> </TD>
          <TD><FONT class=sc><B>{$customer_companyname}</B></FONT> </TD></TR>
        <TR>
          <TD align=right width="20%"><FONT class=sc>Адрес</FONT> </TD>
          <TD><FONT class=sc><B>{$billing_city}, {$billing_zip}, {$billing_address}</B></FONT> 
          </TD></TR>
		  </TBODY></TABLE>
	</TD></TR>

  <TR>
    <TD colSpan=2>
      <TABLE cellSpacing=1 cellPadding=4 width="100%" bgColor=#aaaaaa 
        border=0><TBODY>
        <TR bgColor=white>
          <TD><FONT class=sc>#</FONT></TD>
          <TD width="30%"><FONT class=sc>Наименование работ (услуг)</FONT></TD>
          <TD><FONT class=sc>Ед.изм.</FONT></TD>
          <TD><FONT class=sc>Кол-во</FONT></TD>
          <TD><FONT class=sc>Цена</FONT></TD>
          <TD width="5%"><FONT class=sc>Сумма</FONT></TD></TR>

      {section name=i loop=$order_content}
	  <TR bgColor=white>
          <TD><FONT class=sc>{$smarty.section.i.index+1}</FONT></TD>
          <TD><FONT class=sc><B><NOBR>{$order_content[i].name}</NOBR></B></FONT> 
          <TD><FONT class=sc>шт.</FONT></TD>
          <TD><FONT class=sc>{$order_content[i].Quantity}</FONT></TD>
          <TD><FONT class=sc>{$order_content[i].Price}</FONT></TD>
          <TD align=right><FONT 
      class=sc>{$order_content[i].Price_x_Quantity}</FONT></TD></TR>
	  {/section}
	  
	  {if $shipping_type ne NULL}
		<TR bgColor=white>
          <TD><FONT class=sc>{$order_content_items_count}</FONT></TD>
          <TD><FONT class=sc><B><NOBR>Доставка ({$shipping_type}{if $order.shippingServiceInfo}  - {$order.shippingServiceInfo}{/if})</NOBR></B></FONT> 
          <TD><FONT class=sc>шт.</FONT></TD>
          <TD><FONT class=sc>1</FONT></TD>
          <TD><FONT class=sc>{$shipping_rate}</FONT></TD>
          <TD align=right><FONT class=sc>{$shipping_rate}</FONT></TD>
	  </TR>
	  {/if}

	  </TBODY></TABLE>
      
      <TABLE cellSpacing=0 cellPadding=5 width="100%" border=0>
        <TBODY>
        <TR bgColor=white>
          <TD align=right width="90%"><FONT class=sc><B>ИТОГО:</B></FONT></TD>
          <TD align=right width="10%"><FONT class=sc><B>{$order_subtotal}</B></FONT></TD></TR>
		{if $order_discount > 0}
		<TR bgColor=white>
          <TD align=right width="90%"><FONT class=sc>Скидка ({$order_discount_percent}%):</FONT></TD>
          <TD align=right width="10%"><FONT class=sc><B>{$order_discount_value}</B></FONT></TD></TR>
		{/if}
        <TR bgColor=white>
          <TD align=right width="90%"><FONT class=sc>НДС</FONT></TD>
          <TD align=right width="10%"><FONT class=sc><B>{$order_tax_amount}</B></FONT></TD></TR>
        <TR bgColor=white>
          <TD align=right width="90%"><FONT class=sc><B>Всего к оплате</B></FONT></TD>
          <TD align=right width="10%"><FONT class=sc><B>{$order_total}</B></FONT></TD></TR></TBODY></TABLE>
		
	</TD></TR>
  <TR>
    <TD colSpan=2>
      <TABLE cellPadding=6>
        <TBODY>
        <TR bgColor=white>
          <TD><FONT class=cat><B>Всего к оплате</B></FONT></TD>
          <TD><FONT class=cat>{$order_total_string}</FONT></TD></TR>
        <TR bgColor=white>
          <TD>&nbsp;</TD>
          <TD><FONT class=cat>НДС - {$order_tax_amount_string}</FONT></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD colSpan=2>
      <TABLE cellPadding=6>
        <TBODY>
        <TR bgColor=white>
          <TD><FONT class=cat><B>Менеджер по продажам</B></FONT></TD>
              <TD>_______________________________</TD>
            </TR></TBODY></TABLE></TD></TR></TBODY></TABLE></CENTER></BODY></HTML>
