		<form name='MainForm' method=POST>

		<a href='{"ukey=order_history&orderID="|set_query}'>&lt;&lt; {"ordr_back_to_order_list"|translate}</a>

		<h3>{"ordr_order"|translate} #{$order.orderID}</h3>

		<p>
		<input type=button value="{"btn_open_invoice"|translate}" onClick="open_window('{"?ukey=invoice&orderID=`$order.orderID`"|set_query}',700,500);">

		<table border="0" cellspacing="1" cellpadding="10">

			<tr>
				<td>
					<strong>
						<font size="+1">
							<u>{"ordr_order"|translate}</u>
						</font>
					</strong>
				</td>
				<td>
					<strong>
						<font size="+1">
							<u>{lbl_payment}</u>
						</font>
					</strong>
				</td>
				<td>
					<strong>
						<font size="+1">
							<u>{lbl_shipping}</u>
						</font>
					</strong>
				</td>
			</tr>

			<tr valign="top">
				<td>
					<table>
						<tr>
							<td>{"ordr_id"|translate}: <b>{$order.orderID|escape:'html'}</b></td>
						</tr>
						<tr>
							<td>{"ordr_order_time"|translate}: <b>{$order.order_time|escape:'html'}</b></td>
						</tr>
						<tr>
							<td>{"ordr_customer"|translate}: <b>{$order.customer_firstname|escape:'html'} {$order.customer_lastname|escape:'html'}</b></td>
						</tr>
						<tr>
							<td>{"usr_custinfo_email"|translate} <b>{$order.customer_email|escape:'html'}</b></td>
						</tr>
						<tr>
							<td>{"ordr_customer_ip"|translate}: <b>{$order.customer_ip}</b></td>
						</tr>
						<tr>
							<td>{"ordr_status"|translate}: <b>{$order.status_name|escape:'html'}</b></td>
						</tr>

						{if $order.customers_comment ne ""}
						<tr>
							<td>{"ordr_comment"|translate}: <b>{$order.customers_comment|escape:'html'}</b></td>
						</tr>
						{/if}

					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>{lbl_payment}: <b>{$order.payment_type|escape:'html'}</b></td>
						</tr>
						<tr>
							<td>{"ordr_payee"|translate}: <b>{$order.billing_firstname|escape:'html'} {$order.billing_lastname|escape:'html'}</b></td>
						</tr>
						<tr>
							<td>{"ordr_billing_address"|translate}: 
								<b>
								{if $smarty.const.CONF_ADDRESSFORM_STATE != 2}
								<br />{$order.billing_address|escape:'html'} 
								{/if}
								{if $smarty.const.CONF_ADDRESSFORM_CITY != 2 || $smarty.const.CONF_ADDRESSFORM_ADDRESS != 2 || $smarty.const.CONF_ADDRESSFORM_ZIP != 2}<br />{/if}
								{if $smarty.const.CONF_ADDRESSFORM_CITY != 2}
								{$order.billing_city|escape:'html'}
								{/if}
								{if $smarty.const.CONF_ADDRESSFORM_ADDRESS != 2}
								{$order.billing_state|escape:'html'}
								{/if}
								{if $smarty.const.CONF_ADDRESSFORM_ZIP != 2}
								{$order.billing_zip|escape:'html'}
								{/if}
								<br />{$order.billing_country|escape:'html'}
								</b>
							</td>
						</tr>

			</table>
		</td>
		<td>
			<table>
				<tr>
					<td>{lbl_shipping}: <b>{$order.shipping_type|escape:'html'}</b> {if $order.shippingServiceInfo}({$order.shippingServiceInfo|escape:'html'}){/if}</td>
				</tr>
				<tr>
					<td>{"ordr_recipient"|translate}: <b>{$order.shipping_firstname|escape:'html'} {$order.shipping_lastname|escape:'html'}</b></td>
				</tr>
				<tr>
					<td>{"ordr_shipping_address"|translate}: 
						<b>
						{if $smarty.const.CONF_ADDRESSFORM_STATE != 2}
						<br />{$order.shipping_address|escape:'html'}
						{/if}
						{if $smarty.const.CONF_ADDRESSFORM_CITY != 2 || $smarty.const.CONF_ADDRESSFORM_ADDRESS != 2 || $smarty.const.CONF_ADDRESSFORM_ZIP != 2}<br />{/if}
						{if $smarty.const.CONF_ADDRESSFORM_CITY != 2}
						{$order.shipping_city|escape:'html'}
						{/if}
						{if $smarty.const.CONF_ADDRESSFORM_ADDRESS != 2}
						{$order.shipping_state|escape:'html'}
						{/if}
						{if $smarty.const.CONF_ADDRESSFORM_ZIP != 2}
						{$order.shipping_zip|escape:'html'} 
						{/if}
						<br />{$order.shipping_country|escape:'html'}
						</b>
					</td>
				</tr>
			</table>
		</td>
	<tr>

	<tr valign="top"> 
       	<td colspan="3">
			<strong>
				<font size="+1"><u>{"ordr_ordered_products"|translate}</u></font>
			</strong>
		</td>
    </tr>

	<tr>
		<td colspan="3">

			<table width="100%" border="0" cellpadding="5" cellspacing="1" 
				bgcolor=#{$smarty.const.CONF_DARK_COLOR}>

				<tr bgcolor=#{$smarty.const.CONF_MIDDLE_COLOR}> 
             		<td><strong>{"prdset_product_name"|translate}</strong></td>
             		<td align="center"><strong>{"cart_product_quantity"|translate}</strong></td>
             		<td align="center"><strong>{"ordr_tax"|translate}</strong></td>
             		<td align="right"><strong>{"ordr_itemprice_excluding_tax"|translate}</strong></td>
           		</tr>

				{section name=i loop=$orderContent}
				<tr bgcolor=#{$smarty.const.CONF_LIGHT_COLOR}> 
             		<td>
						{$orderContent[i].name|escape:'html'}

{*
* @features "Supporting e-products, which user can download after payment"
* @state start
*}
						{if $orderContent[i].eproduct_filename|escape:'html'}
							{if $completed_order_status}
								{if $completed_order_status == $order.statusID}

									<a href='get_file.php?getFileParam={$orderContent[i].getFileParam}'>
										{"btn_download"|translate} {$orderContent[i].file_size} b
									</a>

									{if $orderContent[i].day_count_remainder > 0}
										- {"prdset_download_is_available_for"|translate} 
											{$orderContent[i].day_count_remainder|escape:'html'}
										{"msg_days"|translate}
										{if $orderContent[i].load_counter_remainder != 0}
											,
											{"prd_download_downloads_left"|translate} 
												{$orderContent[i].load_counter_remainder|escape:'html'}
											{"prd_download_str_downloads"|translate}
										{/if}
									{/if}
								{/if}
							{/if}
						{/if}
{*
* @features "Supporting e-products, which user can download after payment"
* @state end
*}

					</td>
             		<td align="center">{$orderContent[i].Quantity|escape:'html'}</td>
             		<td align="center">{$orderContent[i].tax|escape:'html'} %</td>
             		<td align="right">{$orderContent[i].PriceToShow|escape:'html'}</td>
           		</tr>
				{/section}
			</table>

		</td>
	</tr>

	<tr>

		<td colspan="3">

		<table width="100%" border="0">

			<tr>
				<td width="80%" align="right">{"ordr_subtotal"|translate}:</td>
				<td width="20%" align="right">{$order.clear_total_priceToShow|escape:'html'}</td>
			</tr>
			<tr>
				<td width="80%" align="right">{"usr_custinfo_group_discount"|translate}:</td>
				<td width="20%" align="right">{$order.order_discount|escape:'html'}</td>
			</tr>
			<tr>
				<td width="80%" align="right">{"ordr_shipping_handling_cost"|translate}:</td>
				<td width="20%" align="right">{$order.shipping_costToShow|escape:'html'}</td>
			</tr>
			<tr>
				<td width="80%" align="right"><b>{"str_total"|translate}</b></td>
				<td width="20%" align="right"><b>{$order.order_amountToShow|escape:'html'}</b></td>
			</tr>
		</table>

		</td>
		
	</tr>


	{if $order_status_report}
	<tr>
		<td colspan="3">
			<h3>{"ordr_order_processing_history"|translate}</h3>
		</td>
	</tr>

	<tr>
		<td colspan="3">

			<table width="100%" border="0" cellpadding="5" cellspacing="1" 
				bgcolor=#{$smarty.const.CONF_DARK_COLOR}>

				<tr bgcolor=#{$smarty.const.CONF_MIDDLE_COLOR}>
					<td>
						<b>{"str_time"|translate}</b>
					</td>
					<td>
						<b>{"ordr_comment"|translate}</b>
					</td>
					<td>
						<b>{"str_status"|translate}</b>
					</td>
				</tr>

				{section name=i loop=$order_status_report}
				<tr bgcolor=#{$smarty.const.CONF_LIGHT_COLOR}>
					<td>
						{$order_status_report[i].status_change_time|escape:'html'}
					</td>
					<td>
						{$order_status_report[i].status_comment|escape:'html'}
					</td>
					<td>
						{if  $order_status_report[i].status_name != "ordr_status_cancelled"|translate}
							{$order_status_report[i].status_name|escape:'html'}
						{else}
							{"ordr_status_cancelled"|translate}
						{/if}
					</td>
				</tr>
				{/section}

			</table>

		</td>
	</tr>
	{/if}

	<tr>
		<td colspan="3">
			

			<input type=hidden name='orders_detailed' value='yes'>
			
		</td>
	</tr>

</table>

</form>