{* forgot password page *}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>

{if $login_was_found ne NULL}
<center><b>{"usr_password_sent"|translate}</b></center><br><br>
{elseif $login_wasnt_found ne NULL}
<font color=red><b>{"usr_cant_find_user_in_db"|translate} ({$forgotpw})!</b></font>
{/if}


{if $wrongLoginOrPw}
<font color=red><b>{"err_wrong_password"|translate}</b></font>
{/if}

<form action="index.php" method=post>
<table><tr><td>
{"usr_forgot_password_descr"|translate}</td><td><input type="text" name="forgotpw">
<input type="submit" value="{"btn_ok"|translate}">
</td></tr></table>
</form>

</center>