/* Pixel texture creator  Brownage///*/
#menu-block {background:#dcd7d1;}
#top-line {  background:url(browncells.gif) left -20px repeat;}
#logo-block .label { color:#cac5c0;}
#top-line #user-block, #top-line a { color:#cac5c0;}
