<?xml version="1.0"?>
<WBS>
	<LANGUAGES>
		<LANGUAGE ID="rus" NAME="Russian"/>
		<LANGUAGE ID="eng" NAME="English"/>
	</LANGUAGES>
	<EMAIL ENABLED="1"/>
	<HTML_SETTINGS HTTPS_PORT="443" SESSION_TIMEOUT="60"/>
	<DIRECTORIES>
		<DATA_DIRECTORY PATH="[WBS_PATH]/data"/>
	</DIRECTORIES>
	<SQLSERVERS>
	</SQLSERVERS>	
</WBS>