.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFFFF!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{color: #333300!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_m1ju84 *,.cptovst_m1ju84{text-align: left!important;}






.cptovst_yp917w *,.cptovst_yp917w{text-align: center!important;}


.cptovst_rwvhi6{background-color: #ffffff!important;}
.cptovst_rwvhi6{border-color: #ffffff!important; border-style:solid;}
.cptovst_rwvhi6 *,.cptovst_rwvhi6{color: #000000!important;}
.cptovst_rwvhi6 *,.cptovst_rwvhi6{text-align: left!important;}


.cptovst_0xcu2j{background-color: #ffffff!important;}
.cptovst_0xcu2j{border-color: #ffffff!important; border-style:solid;}
.cptovst_0xcu2j *,.cptovst_0xcu2j{color: #000000!important;}
.cptovst_0xcu2j *,.cptovst_0xcu2j{text-align: left!important;}
.cptovst_0xcu2j * a,.cptovst_0xcu2j a{color: #000000!important;}


.cptovst_cbob4o *,.cptovst_cbob4o{text-align: left!important;}


.cptovst_t4rnxh{background-color: #66CC00!important;}
.cptovst_t4rnxh *,.cptovst_t4rnxh{text-align: left!important;}


.cptovst_vxohqa{background-color: #FF8C00!important;}
.cptovst_vxohqa *,.cptovst_vxohqa{text-align: left!important;}




.cptovst_8vk6df{background-color: #999933!important;}
.cptovst_8vk6df *,.cptovst_8vk6df{color: #000000!important;}
.cptovst_8vk6df *,.cptovst_8vk6df{text-align: left!important;}




.cptovst_vnigim{background-color: #FF8C00!important;}
.cptovst_vnigim *,.cptovst_vnigim{text-align: left!important;}


.cptovst_alvn9o{background-color: #FF8C00!important;}
.cptovst_alvn9o *,.cptovst_alvn9o{text-align: left!important;}






.cptovst_sztexv{background-color: #FFFFFF!important;}
.cptovst_sztexv *,.cptovst_sztexv{text-align: left!important;}


.cptovst_onev01{background-color: #FF9900!important;}
.cptovst_onev01 *,.cptovst_onev01{color: #FFFFFF!important;}
.cptovst_onev01 *,.cptovst_onev01{text-align: left!important;}






















.cptovst_krw35x{background-color: #000000!important;}
.cptovst_krw35x{border-color: #FF0000!important; border-style:solid;}
.cptovst_krw35x{border-width: 3px!important;}
.cptovst_krw35x *,.cptovst_krw35x{color: #00CC33!important;}
.cptovst_krw35x *,.cptovst_krw35x{text-align: left!important;}


.cptovst_ce4t4c{background-color: #000000!important;}
.cptovst_ce4t4c{border-color: #F0FFFF!important; border-style:solid;}
.cptovst_ce4t4c *,.cptovst_ce4t4c{text-align: left!important;}


.cptovst_uyy1hw{background-color: #000000!important;}
.cptovst_uyy1hw *,.cptovst_uyy1hw{color: #FFFFFF!important;}
.cptovst_uyy1hw *,.cptovst_uyy1hw{text-align: left!important;}


.cptovst_xgvn0f *,.cptovst_xgvn0f{text-align: center!important;}


.cptovst_0w8sje *,.cptovst_0w8sje{text-align: left!important;}


.cptovst_x0c5up{background-color: #669900!important;}
.cptovst_x0c5up *,.cptovst_x0c5up{text-align: left!important;}








.cptovst_dsexza *,.cptovst_dsexza{text-align: left!important;}




.cptovst_75ye1b *,.cptovst_75ye1b{text-align: left!important;}


.cptovst_suzm6y *,.cptovst_suzm6y{text-align: left!important;}


.cptovst_1gcc4b *,.cptovst_1gcc4b{text-align: center!important;}












