<html>
<head>
<title>Error</title>
</head>
<body>
<table align=center width=100% height=30% border=0>
<tr>
  <td align=center valign=center>
    <table cellspacing=0 cellpadding=0 align=center bgcolor=#ffffff width=400 border=0 bordercolor=#006699>	
      <tr bgcolor=#006699>
	<td>
	  <table cellspacing=1 cellpadding=3 width="100%" border=0>
	    <tr bgcolor=#006699>
	      <td align="center"><font color=#ffffff><b>Operation failure</b></font></td>
            </tr>
	    <tr bgcolor=#ffffff>
	      <td align="center" bgcolor=#ffffff>An error occurred during authorization
	      <div style="padding-top: 5; padding-bottom: 5;"><<Reason>></div>
	      <a href=<<back>>>[To the main page]</a></td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>
  </td>
</tr>
</table>
</body>
</html>