<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">
<TITLE>Ваш платеж не прошел</TITLE>
<style>
th
{
	font-family: arial; font-size: 9pt;
}
td
{
	font-family: arial; font-size: 9pt;
}
</style>
</HEAD>
<BODY bgcolor=#ffffff>
<table align=center width=100% height=100% border=0>
  <tr>
    <td align=center valign=center>
      <table cellspacing=0 cellpadding=0 align=center width=400 bgcolor=#006699 border=0>
        <tr bgcolor=#006699>
   	  <td>
	    <table cellspacing=1 cellpadding=3 align=center width="100%" border=0>
	      <tr bgcolor=#006699>
		<td align="center"><font color="#ffffff"><b>Ваш платеж не прошел</b></font></td>
	      </tr>
	      <tr>
		<td valign=top bgcolor=#ffffff>
		  <table cellspacing=0 cellpadding=3 width=100% border=0>
		    <tr>
          	      <td align="center" width="99%"><<SessionDescription>></td></tr>
	   	    <tr><td colspan=2><font size=2><p align="center"><a href=<<back>>>[На главную страницу]</a></td></tr>
         	  </table>
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </table>
    </td>
  </tr>
</table>
</BODY>
</HTML>
