<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=win-1251">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">
<TITLE>Ваш платеж прошел</TITLE>
<LINK REL="StyleSheet" HREF="/cyberplatpay/css/den.css" type="text/css">
</HEAD>
<BODY bgcolor=#ffffff>
<table align=center width="100%" height="100%" border=0>
 <tr>
  <td align=center valign=center>
   <table cellspacing=0 cellpadding=0 align=center bgcolor=#006699 border=0 width=60%>
    <tr>
     <td>
      <table cellspacing=1 cellpadding=0 width="100%" border=0>
       <tr bgcolor=#006699>
	<td align="center"><font color=#ffffff size=2><b>Ваш платеж прошел</b></font></th>
       </tr>
       <tr bgcolor=#ffffff>
        <td valign=top bgcolor=#ffffff>
         <table width=100% cellspacing=0 cellpadding=4>
          <font size=2><p align="justify"><<TransactionID>>
	   <tr><td colspan=2><font size=2><p align="center"><a href=<<back>>>[На главную страницу]</a></td></tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
</BODY>
</HTML>
