/* Pixel texture creator  Konrad Prissnitz, http://www.flashig.com//*/
#menu-block {background:#d1d5cc;}
#top-line {  background:url(khaki.gif) left top repeat;}
#logo-block .label { color:#eaede5;}
#top-line #user-block, #top-line a { color:#eaede5;}
