/* ====================== MAIN THEME STYLES: layout, fonts & colors ====================== */

html
{ margin: 0px;
  padding: 0px;
  width:100%;
}

body
{ margin: 0px;
  padding: 0px;
  background:#fcfcfc url(../../images/aqu_body.gif) left top repeat-x;position:relative; width:100%; //text-align:center;
}

p, body, font, div, td, input, select, textarea
{ font-family: arial,helvetica, sans-serif;
  font-size:12px;
}
p { line-height:130%;}
h1 {
	font-size: 160%;
	margin:1em 0;
}
h2 {
	font-size: 130%;
	margin:1em 0;
}
h3 {
	font-size: 120%; margin:1em 0 0.5em 0;
}

form{
 padding:0px;
 margin: 0px;
}

a
{ font-weight: bold;
  color:#1f3d6a;
}
a:hover { color:#ab2e19;}
a img{
 border: 0;
}
input, select { vertical-align:middle;}
/* ====================== COMPONENT CONTAINER STYLES ====================== */


#container_topbar, #container_topbar_right, #container_topbar_left { text-align:right; vertical-align:top; }

#container_top_left
{ text-align: left;
  vertical-align: top;
  width:200px;
 }

#container_top
{ padding:0 10px 0 0;
  text-align: right;
  vertical-align:top;
 white-space:nowrap;
 height:154px;
}
#container_top_right
{ padding:0 10px 0 0;
  text-align: right;
  vertical-align:top;
 height:154px;
 width:1%;
}


#container_left_sidebar
{ width:200px;
  text-align: left;
  vertical-align: top;
  background:#fff;
 border-collapse:collapse;
}

#container_main_content
{ width:"*";
 text-align: left;
  vertical-align: top;
  padding: 0;
  background:#fff;
}

#container_footer
{ max-width:1500px; margin:10px auto;
//width:expression(document.body.clientWidth < 950? "950px" : document.body.clientWidth > 1500? "1500px" : "auto");
  background-color: #F2F2F2;
  color: white;
 padding: 0px;
  line-height:30px;
  
}


/* ====================== DEFAULT STYLES OF VARIOUS COMPONENTS ====================== */

/* padding for all general components */
.cpt_news_short_list, .cpt_survey, .cpt_category_tree, .cpt_maincontent,
.cpt_currency_selection, .cpt_divisions_navigation, .cpt_auxpages_navigation, .cpt_language_selection
{
  text-align: left;
  padding: 10px;
//width: 100%;

}


ul.vertical, ul.horizontal
{ padding: 0px;
  margin: 0px;
}
ul.horizontal{
width: 100%;
overflow: hidden;
}
.vertical li
{ padding-left: 0px;
  padding-bottom: 2px;
  clear:left;
}
.horizontal li
{ float: left;

}

.cpt_divisions_navigation ul
{ list-style-type: none;
margin: 0px;
}

.cpt_auxpages_navigation ul.vertical
{ list-style:none;
}

.cpt_auxpages_navigation ul.horizontal
{ list-style-type: none;
  padding-left: 0px;
}
.cpt_divisions_navigation li, .cpt_auxpages_navigation li { padding:0 0 0 18px;}

.cpt_divisions_navigation a, .cpt_auxpages_navigation a { color:#000; text-decoration:none;font-weight:bold;} 
.cpt_divisions_navigation ul.vertical a, .cpt_auxpages_navigation ul.vertical a { line-height:160%;}
.cpt_divisions_navigation a:hover, .cpt_auxpages_navigation a:hover { color:#ab2e19;}

.cpt_shopping_cart_info {  white-space:nowrap; margin:8px 8px 0px 8px   }
.cpt_shopping_cart_info div {display:inline; display:inline-block; //display:inline; //height:22px; padding:0 3px;font-size:120%;line-height:22px;white-space:nowrap;  }

#container_topbar_right .cpt_shopping_cart_info { white-space:nowrap;}
#container_topbar_right .cpt_shopping_cart_info div { color:#f0f0f0;}

.cpt_shopping_cart_info a {  padding-left:19px; }
.cpt_shopping_cart_info a:link, .cpt_shopping_cart_info a:visited {text-decoration:underline;background:url(../../images/addcart_icon_b.gif) left 3px no-repeat; }
.cpt_shopping_cart_info a:hover { color:#AB2E19;}
#shpcrtca { font-weight:bold;}

#container_topbar_right .cpt_shopping_cart_info a:link, #container_topbar_right .cpt_shopping_cart_info a:visited { color:#fff;background:url(../../images/addcart_icon_w.gif) left 3px no-repeat;}
#container_topbar_right .cpt_shopping_cart_info a:hover {  text-decoration:none; color:#f7ee82;}


/*#container_topbar_right #cart_not_empty a:link, #cart_not_empty a:visited { color:#000;text-decoration:none;background:url(../../images/addcart_icon_b.gif) left 3px no-repeat;}
#container_topbar_right #cart_not_empty a:hover {  text-decoration:underline; color:#666;}
#container_topbar_right #cart_not_empty .shcart_link { background:url(../../images/basket_left.gif) left top no-repeat; padding:0 3px 0 15px; margin-right:-3px; color:#101010;}
#container_topbar_right #cart_not_empty #shpcrtgc { background:#f7ee82;color:#101010; }
#container_topbar_right #cart_not_empty #shpcrtca {  background:#f7ee82 url(../../images/basket_right.gif) right top no-repeat;color:#101010; margin-left:-3px; padding-right:5px;font-weight:bold;}*/


.cpt_category_tree a { color:#000; text-decoration:none;  line-height:140%; }
.cpt_category_tree a:hover { text-decoration:underline;}

.survey_question{
 font-weight: bold;
 margin-bottom: 10px;
}
.cpt_survey td, .cpt_survey label {  vertical-align:top;}
.survey_submit{
 margin-top: 10px;
 text-align:center;
}
.cpt_survey form{
 padding:0px;
 margin: 0px;
}

.cpt_currency_selection
{ text-align: center;
  font-size: 100%;
}

.cpt_currency_selection select
{ font-size: 90%;
}
.cpt_currency_selection form{
 display: inline;
}

.cpt_product_search form{
 margin: 0px!important;
 padding: 10px;
}

.cpt_language_selection {
  text-align:right; padding-left:8px; white-space:nowrap;}
.cpt_language_selection img { vertical-align:middle;border:solid 1px #eaeaea;} 
.cpt_category_tree { padding:10px;}
.cpt_category_tree ul{
 list-style:none;
 margin:0px;
 padding:0px;
}
.cpt_category_tree ul li { padding:0 0 2px 10px; }
.cpt_category_tree ul li.child, .cpt_category_tree ul li.child_current { background:none;}
.cpt_category_tree .bullet { font-size:0px;}

.cpt_category_tree .parent_current a{
 font-size:100%;
 font-weight: bold;
 color:#440000!important;
 text-decoration: none;
}

.cpt_category_tree .child a {
 padding-left: 10px;
 font-size:75%;line-height:100%;
 font-weight:normal;
 background: url(../../images/aqu_point.gif) left center no-repeat;
}
.cpt_category_tree .child_current a{
 padding-left: 10px;
 background: url(../../images/aqu_point_v.gif) left center no-repeat;
 color: #440000 !important;
 text-decoration: none;
 font-size:75%; 
 line-height:100%;
}

a .bullet{
  text-decoration: none!important;
}
.cpt_category_tree .tab{
 margin-left:10px;
}

.cpt_product_add2cart_button
{ padding:5px 0;}

.cpt_maincontent {   background:#fff url(../../images/aqu_main.gif) left top repeat-x; }
.home_page_category_logo { background:url(../../images/defaultnocatimage.gif) left top no-repeat; display:block; height:65px; width:65px;}
#container_main_content .cpt_root_categories td.cat_image a {position:relative; top:-0.8em;}
#container_main_content .cpt_root_categories { padding-top:1em;}
.cat_header { background:url(../../images/cat_top_grey.gif) left top repeat-x; height:40px; }
.news_header, .poll_header { background:url(../../images/tls_newstheaderbg.gif) left top repeat-x; height:40px; }
.cat_header h3 { background:url(../../images/aqu_cat_header.gif) left 1.1em no-repeat; color:#333;}
.news_header h3, .poll_header h3 { background:url(../../images/tls_news_arr.gif) left 1em no-repeat;  color:#222; }
.lang_label { display:block; font-size:100%; color:#000; line-height:30px; padding:3px 55px 5px 5px; }
.tls_page { margin:0 20px 0 0; background:#fff;}
.tls_index_header { background:#f2f2f2 url(../../images/tls_bullet.gif) 10px 1em no-repeat; line-height:230%; color:#333; font-size:120%; font-weight:bold; margin:0; padding:0 20px; }

.aqu_tel { font-size:16pt; color:#fff; line-height:40px; white-space:nowrap;}
.smaller { font-size:80%;}
/* ====================== SET HOW CERTAIN COMPONENTS APPEAR IN VARIOUS CONTAINERS ====================== */
/* ====================== (if you wish to overwrite default appearence of components in certain containers) ====================== */


#container_left_sidebar .news_header, #container_left_sidebar .poll_header,  { border-left:solid 1px #f2f2f2;border-right:solid 1px #f2f2f2;}

#container_top_left .cpt_divisions_navigation li, #container_top_left .cpt_auxpages_navigation li { background:url(../../images/aqu_aux_li.gif) left 4px no-repeat; float:left;}
#container_top_left .cpt_divisions_navigation a:hover, #container_top_left .cpt_auxpages_navigation a:hover { color:#f2fbff;}

#container_left_sidebar .cpt_product_search {border-bottom:solid 1px #c6c6c6; background:#d6d6d6 url(../../images/cat_top_grey.gif) left top repeat-x; height:44px; overflow:hidden;}
 
#container_top_left .cpt_divisions_navigation, #container_left_sidebar .cpt_divisions_navigation,  #container_top_left .cpt_auxpages_navigation, #container_left_sidebar .cpt_auxpages_navigation{ }

#container_topbar_left .cpt_auxpages_navigation, #container_topbar_left .cpt_divisions_navigation { background:url(../../images/tls_topbg.gif) left top repeat-x;  padding:0; }
#container_topbar_left .cpt_auxpages_navigation ul, #container_topbar_left .cpt_divisions_navigation ul { background:url(../../images/tls_auxnav_libg.gif) left center repeat-y; overflow:hidden;/* float:left; width:auto*/}
#container_topbar_left .cpt_auxpages_navigation ul.horizontal, #container_topbar_left .cpt_divisions_navigation ul.horizontal { height:40px; overflow:hidden;}
#container_topbar_left .cpt_auxpages_navigation ul.horizontal li, #container_topbar_left .cpt_divisions_navigation ul.horizontal li { height:40px; padding:0; background:url(../../images/tls_auxnav_libg.gif) right center repeat-y; padding:0;}
#container_topbar_left .cpt_auxpages_navigation ul.horizontal a, #container_topbar_left .cpt_divisions_navigation ul.horizontal a { color:#d3d3d3; text-decoration:none;  padding:0 15px; line-height:40px; display:block; //width:auto; float:left;}
#container_topbar_left .cpt_auxpages_navigation ul.horizontal a:hover, #container_topbar_left .cpt_divisions_navigation ul.horizontal a:hover { background:#26282a ;}



#container_top_right .cpt_logo { float:right;position:relative; top:50px; left:-5px;  //left:40px; //top:90px;}
#container_top_left .cpt_logo { margin:5px;}

#container_top_left .cpt_language_selection { display:inline; line-height:30px;}

#container_top_right .cpt_currency_selection { text-align:right;}

#container_left_sidebar .cpt_category_tree, #container_top_left .cpt_category_tree { background:#d6d6d6 url(../../images/cat_grey.gif) left top repeat-x; padding-left:20px;}
#container_left_sidebar .cpt_category_tree li.parent { background: url(../../images/tls_li.gif) left 0.4em no-repeat; padding:0 0 0 10px}

#container_left_sidebar .cpt_survey, #container_left_sidebar .cpt_tag_cloud { border-right: solid 1px #f2f2f2;border-left: solid 1px #f2f2f2; 
background: url(../../images/aqu_wh_block.gif) left bottom repeat-x; zoom:1;}


#container_left_sidebar h3, #container_top_left h3 { margin:0; line-height:40px; margin:0 0 0 10px; padding:0 0 0 20px;text-transform:uppercase;  font-size:13px; }
#container_topbar .cpt_product_search, #container_topbar .cpt_shopping_cart_info
{ color:#808080; position:relative;top:-40px; width:40%; float:right; height:40px; overflow:hidden; margin-bottom:-40px; margin-right:5px; text-align:right; z-index:10;}

#container_footer .cpt_divisions_navigation
{ padding: 3px;
  margin: 0px;
  text-align: center;
  background:#F2F2F2;
}

#container_footer .cpt_divisions_navigation ul { display:inline; width:auto;}
#container_footer .cpt_divisions_navigation li { background:none;display:inline; float:none;}
#container_footer .cpt_divisions_navigation a
{ font-weight: normal;
  color:#333; padding:0 10px; line-height:30px; text-decoration:underline;
}
#container_footer .cpt_divisions_navigation a:hover { color:#ab2e19;}
#container_main_content .cpt_product_lists
{ padding:10px; 
}
#container_main_content .cpt_product_lists table { width:100%;}

#container_left_sidebar .cpt_news_short_list
{ border-left:solid 1px #f2f2f2; border-right:solid 1px #f2f2f2; background:url(../../images/aqu_wh_block.gif) left bottom repeat-x;}

#container_top_right .cpt_language_selection, #container_top .cpt_custom_html {  width:auto; display:inline; line-height:30px; //height:30px; }
#container_top_right .cpt_custom_html {/*width:auto; clear:right; float:right;*/ }
#container_top_right .cpt_language_selection {text-align:right;}
#container_top_right .cpt_language_selection a img { border:#ffffff solid 1px ; //margin-top:8px;}
#container_left_sidebar .cpt_product_search input { padding:1px;}
#container_left_sidebar .cpt_product_search input#searchstring
{ width: 120px;
border:solid 1px #707070;padding:2px;
}
#container_main_content ul { list-style-position:inside;}
/* ====================== STYLES OF ELEMENTS THAT APPEAR INSIDE VARIOUS COMPONENTS ====================== */



#searchstring
{ width: 60%;
}
.aqu_wave { background:url(../../images/aqu_wave.jpg) center top no-repeat; height:154px; overflow:hidden;}
.aqu_top { height:40px;  max-width:1500px;  //width:expression(document.body.clientWidth < 950? "950px" : document.body.clientWidth > 1500? "1500px" : "auto"); margin:0 auto;}
.aqu_top_bar { height:154px; max-width:1500px; margin:0 auto; width:auto; position:relative;//width:expression(document.body.clientWidth < 950? "950px" : document.body.clientWidth > 1500? "1500px" : "auto");}

.aqu_main { max-width:1500px; margin:0 auto; //width:expression(document.body.clientWidth < 950? "950px" : document.body.clientWidth > 1500? "1500px" : "auto");}
.aqu_main_table {/* border:3px solid #f9f9f9; border-top:none; border-bottom:none;*/}
.aqu_company { font-size:22pt; text-transform:uppercase; margin:20px 10px 0 0; text-align:right; white-space:nowrap;}
.aqu_company a { text-decoration:none; font-weight:normal;}
.aqu_company .light { color:#deedfd;}
.aqu_company .dark { color:#000;}
.block_tag_cloud  { font-size:15px;}
.block_tag_cloud a { text-decoration:none;  font-family:Arial, Helvetica, sans-serif; word-spacing:110%; letter-spacing:120%;}
.current-rating1 div { line-height:20px; //height:20px; font-size:1px;}
.sm-current-rating1 { line-height:13px; //height:13px; font-size:1px;}
#container_main_content .cpt_maincontent .cpt_custom_html {
float:none;
padding:0;
}
.cpt_maincontent h1.aqu_browse {
font-size:100%;
line-height:30px;
margin:10px 0;
padding:0 10px;
color:#444;
text-transform:uppercase;
background:#fafafa;
}

/* ====================== PREDEFINED STYLES; edit, but do not delete these styles ====================== */

.small
{ font-size: 90%;
}
.big
{ font-size: 150%;
}

.background1, .background1 td
{ background-color: #c7e2f2;
}

.btn_checkout
{ font-size: 130%;
  font-weight: bold;
  margin: 10px;
  padding: 3px;
}

.prdbrief_add2cart
{ padding: 5px 0;
}

.error_block
{ font-weight: bold;
  color: red;
}

.product_brief_block {  overflow:hidden; zoom:1; }
.product_brief_block .prdbrief_thumbnail { float:left; margin-right:5px;}
.product_brief_block .sm-current-rating1 { margin-left:155px;}


#tbl-checkout-progress td {
vertical-align: top; font-size:0.7em;
}

.current_prd_thumbnail img{
	border: #BBBBBB 3px solid;
}
a.prd_thumbnail img{
	border: #FFFFFF 3px solid;
}
a.prd_thumbnail:hover img{
	border: #BBBBBB 3px solid;
}

.news_date
{ color: #ab2e19;
  font-weight:bold;padding-left:20px;
}
.news_title
{ padding-bottom: 10px;color:#333; padding-left:20px;
}
.news_title a { color:#333; font-weight:normal;}
.news_viewall
{ padding-bottom: 10px; text-align:right; 
}
.news_subscribe, .news_thankyou
{ padding-top: 5px;
 border-top: 1px solid #f2f2f2;
}
.news_subscribe .input_message, .news_subscribe .input_message_focus { width:175px; margin:3px 0;}
.news_subscribe div,.news_subscribe form { display:inline; }
.news_subscribe img { vertical-align:middle;}
h1.welcome { margin:0; border-bottom:1px solid #F2F2F2; padding:4px 0; font-size:20pt; font-family:"Times New Roman", Times, serif;}
/************************
BLOG STYLES
***************************/
.post_title{
 color: #666;
 margin-top: 30px;
 margin-bottom: 0px;
 font-size:120%;
}
.post_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 margin-bottom: 15px;
 }
.post_content{
 padding-left: 15px;
}

/***************************
PRODUCTS COMPARISON
****************************/
.cmp_headers{
 background-color: #c7e2f2;
}
.cmp_column_odd{
 background-color: white;
 vertical-align: top;
}
.cmp_column_even{
 background-color: #ebf3f7;
 vertical-align: top;
}
#cmp-table tr:hover td{
 background-color: #d5e5fa!important;
}
#cmp-table tr td{
 text-align:center;
 padding: 6px;
}
#cmp-table tr td.cmp_headers{
 text-align: left;
}

/***************************
PRODUCT DETAILED
****************************/
.regularPrice{
 color: brown;
 text-decoration: line-through;
}
.totalPrice{
 color:#ab2e19;
 font-weight:bold;
 font-size: 130%;
 margin:5px 0 0 0;
}
.product_list .totalPrice { color:#000;
 font-weight:normal}
.youSaveLabel{
 font-size: 75%;
}
.youSavePrice{
 font-size: 75%;
}
.prd_out_of_stock {
 font-style:  italic; color:red; 
}
.cpt_product_category_info a, .cat_path_in_productpage a { font-size:120%;}

/************************
PRODUCT REVIEWS STYLES
***************************/
.review_block
{ margin-left: 20px;
}
.review_title{
 color: #333;
 margin-top: 10px;
 margin-bottom: 0px;
 font-size: 120%;
}
.review_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 font-size: 90%;
 margin-bottom: 5px;
 }
.review_content{
 color: #333;
 padding-left: 20px;
}
.review_showall{
 margin-left: 20px;
}

/****************************
SHOPPING CART
*****************************/
.background_cart_top
{ background-color: #c7e2f2;
  border-bottom: 1px #adccde solid;
  font-size:12pt;
  padding-left:10px;
}
.background_cart_top h1{
 display: inline;
 padding: 0px;
 margin: 0px;
}
#cart_content_tbl{
width:100%;
}
#cart_content_tbl td{
 padding: 6px;
}
#cart_page_title{
 padding: 10px;
 text-align: left;
}
#cart_page_title h1{
 display inline;
 padding: 0px;
 margin: 0px;
}
#cart_clear{
 padding: 10px;
 text-align: right;
}
#cart_clear a{
 font-size:9pt;
}
.cart_discount_label{
 font-weight: bold;
}
#cart_total_label{
 font-size: 130%;
 font-weight: bold;
}
#cart_total{
 background-color: #c7e2f2;
 font-size: 130%;
 font-weight: bold;
 padding: 10px;
 white-space: nowrap;
}
#cart_checkout_btn{
 padding-top: 20px;
}
.cart_product_brief_description{
 font-size: 80%;
}
#cart_content_header td{
 font-weight: bold;
}
.cart_apply_for_discounts_extra{
 font-size: 80%;
 color: #777;
}
.cart_product_quantity{
 text-align: center;
}

/********************
HOMEPAGE UNFOLDED TREE
*********************/
.rcat_root_category
{ font-size: 140%;
  font-weight: bold;line-height:150%; text-decoration:none; color:#275987;
}
.rcat_root_category:hover { border-bottom:solid 1px;}
.rcat_products_num
{ color: #999999;
  font-size: 80%;
}
.rcat_child_categories a
{ line-height:150%;
  font-weight: normal;
}

/********************
REGISTRATION PAGE
*********************/
#reg_fields_tbl td{
 padding: 5px;
}
#reg_auth_fields td{
 background-color: #c7e2f2;
}
#reg_confcode td{
 background-color: #c7e2f2;
}
#reg_fields_tbl td input, .addressform td input{
 width: 300px;
}
#subscribed4news{
 width:auto!important;
}
#reg_fields_tbl td textarea, .addressform td textarea{
 width: 300px;height: 100px;
}
#reg_submit_btn{
 font-size:150%;
 font-weight: bold;
}

/*********
SEARCH IN CATEGORY
**********/
#cat_advproduct_search {
 background-color: #c7e2f2;
	margin-right:10px;
	width:232px;
}
#cat_advproduct_search form { padding:10px; }
#cat_advproduct_search td { vertical-align:top; }
#cat_advproduct_search td { vertical-align:top; }
#cat_advproduct_search select { width:100%;  }
#cat_advproduct_search form, #cat_advproduct_search table { //width:100%;}
#cat_advproduct_search h3 { padding:0px; margin: 10px 10px 0 10px; font-size:110%;}
#cat_info_left_block, #cat_advproduct_search  { float:left; }
#cat_info_left_block p { font-size:90%;}
.cpt_maincontent center { clear:both;}
#cat_top_tree { overflow:hidden; margin-top:10px;}
.hndl_submit_prds_cmp, #cat_product_sort { margin:10px 0; font-size:90%;}
.prdbrief_name a{ font-size:130%; text-decoration:none; line-height:170%;}
.prdbrief_name a:hover { border-bottom:solid 1px;}

ul.product_list li { /*border:solid 1px #f2f2f2;*//* margin:0 2px !important;*/ text-align:center;}
ul.product_list li table { margin:0 auto;}
.product_list a { font-size:130%; text-decoration:none; color:#ab2e19;}
.product_list a:hover { text-decoration:underline;}
.product_list a:hover img, .product_list td a:hover{ border:none;}
.product_option { width:99%; //width:auto;  position:relative; zoom:1;}
.cpt_root_categories td { vertical-align:top;}

/************
CHECKOUT
************/
.checkout_noframe_title {
	padding: 5px 15px;
}
#checkout_have_account {
	padding: 15px;
	background-color: #c7e2f2;
	margin: 0 -5px 15px -5px;
}
#checkout_logininfo { width:428px;}
#checkout_logininfo .inputtext, #checkout_addresses .inputtext, #checkout_addresses textarea {
	width: 200px;
}
.paddingblock input.checkout_buttons {
	font-size: 130%;
	font-weight: bold;
	margin:5px 0;
}
.checkout_steps_divider {
	width: 40px;
	height:1px;
	background-color:#adccde;
	overflow:hidden;
}
#checkout_addresses { width:800px;}
#checkout_addresses td { } 
/**********************
ORDER STYLES
***********************/
tr#ord_total_row * {
	font-size: 105%;
	font-weight: bold;
}
.row_odd td {
	background-color: #ebf3f7;
}
.row_even td {
	border: 0px solid #c7e2f2;
	border-width: 1px 0px;
}

.paddingblock { background:#fff;
	padding-left: 15px;
	padding-right: 15px;
	text-align:left;
	font-size:12pt;
	
}
.paddingblock h2 {
	padding:20px 5px;
	margin-top: 0px;
}
.paddingblock td { font-size:95%; vertical-align:top; padding:5px;}
.paddingblock p { margin-bottom:10px;}

.paddingblock input { margin:2px 0 0 0;}
.asterisk {
	color:red;
}
.cellpadding tr td {
	padding: 5px;
}
.cust_name {
	font-size:110%;
	font-weight: bold;
}
#prddeatailed_container .cpt_product_rate_form table {
	width: 100%;
	/***********************/
width: auto;/**/
}

#block-customerinfo td { font-size:100%;}
.cpt_product_images{
float: left;
}
body.body-page-404 { background:#fff; background-image:none; text-align:left; font-size:12px;}
body.body-page-404 ul, body.body-page-404 li { list-style:none;}
.cpt_product_add2cart_button input { vertical-align:middle;}

#powered_by { font-size:11px!important; padding:0 0 5px 0;}

