<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>ТОВАРНАЯ НАКЛАДНАЯ</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<base href="{$smarty.const.CONF_FULL_SHOP_URL}" />
<link rel="stylesheet" href="{$smarty.const.URL_CSS}/printforms.css" type="text/css" />
{if !$strict}
<script type="text/javascript">
var lang_strings = {literal}{{/literal}
	'edit_link':'{'print_form_edit_before_print'|translate}',
	'field_title':'{'print_form_edit_title'|translate}',
	'save_link':'{'btn_ok'|translate}'
{literal}}{/literal}
var page_url = '{''|set_query_html}';
</script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/inline_edit_printform.js"></script>
{/if}
</head>
<body{if !$strict} onload="Printform.init('inline_edit');"{/if}>
{include file="print_button.html"}
{*relative path from frontend*}
<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td class=reportSmallFont align=right>Унифицированная форма №
		Торг-12<br>Утверждена Постановлением Госкомстата России
		<br>от 25.12.1998 г. за №132
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<td valign=top width="90%">
		<table cellpadding="0" cellspacing="0" border="0" width="100%"	class="mainTable">
			<tr>
				<td class=underlined align=center><b>
{$COMPANYNAME|default:"Продавец"|htmlsafe:true:true},&nbsp;{$COMPANYADDRESS|default:"город, улица, дом"|htmlsafe:true:true},&nbsp;(тел.:{$COMPANYPHONE|default:"+7 495 1234567"|htmlsafe:true:true})</b>
				</td>
			</tr>
			<tr>
				<td class=underlined align=center><b>
{"р/счет №`$BANK_ACCOUNT_NUMBER` в `$BANKNAME`, кор/счет `$BANK_KOR_NUMBER`, БИК `$BIK`"|htmlsafe:true:true}
				</b></td>
			</tr>
			<tr>
				<td class="reportSmallFont underlined cellComment" align="center"	style="padding-top: 1mm; padding-bottom: 5mm">
					грузоотправитель, адрес, номер телефона, банковские реквизиты</td>
			</tr>
			<tr>
				<td class="reportSmallFont cellComment" align="center" style="padding-top: 1mm; padding-bottom: 2mm">
					структурное	подразделение
				</td>
			</tr>
		</table>

		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td class="reportSmallFont name_cell">Грузополучатель</td>
				<td width="100%" class="reportSmallFont underlined"><b class="inline_edit">
{if $customer.company}{$customer.company|htmlsafe:true:true}&nbsp;{else}
{$order.shipping_name|htmlsafe:true:true},&nbsp;{/if}
{if $order.shipping_state}{$order.shipping_state|htmlsafe:true:true},&nbsp;{/if}
{if $order.shipping_city}{$order.shipping_city|htmlsafe:true:true},&nbsp;{/if}
{if $order.shipping_zip}{$order.shipping_zip|htmlsafe:true:true},&nbsp;{/if}
{if $order.shipping_address}{$order.shipping_address|htmlsafe:true:true},&nbsp;{/if}
{if $customer.phone}тел.: {$customer.phone|htmlsafe:true:true}{/if}
				</b></td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell">Поставщик</td>
				<td width="100%" class="reportSmallFont underlined"><b>
				{$COMPANYNAME|default:"Продавец"|htmlsafe:true:true},&nbsp;
{$COMPANYADDRESS|default:"город, улица, дом"|htmlsafe:true:true},&nbsp;(тел.:{$COMPANYPHONE|default:"-"|htmlsafe:true:true})
{", р/счет №`$BANK_ACCOUNT_NUMBER` в `$BANKNAME`, кор/счет	№`$BANK_KOR_NUMBER`, БИК `$BIK`"|htmlsafe:true:true}</b></td>

			</tr>
			<tr>
				<td class="reportSmallFont name_cell">Плательщик</td>
				<td width="100%" class="reportSmallFont underlined">
				<b class="inline_edit">
{if $customer.company}{$customer.company|htmlsafe:true:true}&nbsp;{else}
{$order.billing_name|htmlsafe:true:true},&nbsp;{/if}
{if $order.billing_state}{$order.billing_state|htmlsafe:true:true},&nbsp;{/if}
{if $order.billing_city}{$order.billing_city|htmlsafe:true:true},&nbsp;{/if}
{if $order.billing_zip}{$order.billing_zip|htmlsafe:true:true},&nbsp;{/if}
{if $order.billing_address}{$order.billing_address|htmlsafe:true:true},&nbsp;{/if}
{if $customer.phone}тел.: {$customer.phone|htmlsafe:true:true}{/if}
				</b></td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell">Основание</td>
				<td width="100%" class="reportSmallFont underlined"><b class="inline_edit">По заказу № {$order.orderID_view} от {$order.date_print} г.</b></td>
			</tr>
			<tr>
				<td colspan=2>&nbsp;</td>
		</table>

		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td align=center>

				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td rowspan=2 class="reportSmallFont docNameLabels" valign=bottom>
						<b>ТОВАРНАЯ	НАКЛАДНАЯ&nbsp;</b>
						</td>
						<td class="reportSmallFont docNameLabels b_top b_left b_right" align="center">
							Номер<br>документа
						</td>
						<td class="reportSmallFont docNameLabels b_top b_right"	align="center">
							Дата<br>составления
						</td>
					</tr>

					<tr>
						<td
							class="reportSmallFont docNameLabels b_top b_left b_bottom b_right docNameValues"
							align=center>
							<b class="inline_edit">{$order.orderID_view|default:"&nbsp;"}</b>
						</td>
						<td
							class="reportSmallFont docNameLabels b_top b_right b_bottom docNameValues"
							align=center>
							<b class="inline_edit">{$order.paid_date|default:"&nbsp;"}</b>
						</td>
					</tr>

					<tr>
						<td colspan=3 class=separatorCell>&nbsp;</td>
					</tr>
				</table>

				</td>
			</tr>
		</table>
		</td>

		<td valign=top align=right>

		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td colspan=2 class=reportSmallFont>&nbsp;</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_top b_right reportSmallFont"
					align=center>Код</td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell nobr" colspan=2 align=right>Форма
				по ОКУД</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>0330212</td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell nobr" colspan=2 align=right>по
				ОКПО</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>&nbsp;</td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell nobr" colspan=2 align=right>Вид
				деятельности по ОКДП</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>&nbsp;</td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell nobr" colspan=2 align=right>по
				ОКПО</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>&nbsp;</td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell nobr" colspan=2 align=right>по
				ОКПО</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>&nbsp;</td>
			</tr>
			<tr>
				<td class="reportSmallFont">&nbsp;</td>
				<td class="reportSmallFont name_cell b_bottom nobr" align=right>по
				ОКПО</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>&nbsp;</td>
			</tr>
			<tr>
				<td rowspan="2">&nbsp;</td>
				<td style="width: 20mm"
					class="name_cell item_cell b_left b_bottom reportSmallFont"
					align=right>номер</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont inline_edit"
					align=center>{$order.orderID_view|default:"&nbsp;"}</td>
			</tr>
			<tr>
				<td style="width: 20mm"
					class="name_cell item_cell b_left b_bottom reportSmallFont"
					align=right>дата</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont inline_edit"
					align=center>{$order.paid_date|default:"&nbsp;"}</td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell nobr" rowspan="2" valign="top">Транспортная
				накладная</td>
				<td style="width: 20mm"
					class="name_cell item_cell b_left b_bottom reportSmallFont"
					align=right>номер</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>&nbsp;</td>
			</tr>
			<tr>
				<td style="width: 20mm"
					class="name_cell item_cell b_left b_bottom reportSmallFont"
					align=right>дата</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>&nbsp;</td>
			</tr>
			<tr>
				<td class="reportSmallFont name_cell nobr" colspan=2 align=right>Вид
				операции</td>
				<td style="width: 20mm"
					class="item_cell b_left b_bottom b_right reportSmallFont"
					align=center>&nbsp;</td>
			</tr>
		</table>

		</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding=0 cellspacing=0
	class="mainTable">
	<tr>
		<td rowspan="2" class="b_top b_left"><b>№<br>
		п/п</b></td>
		<td colspan="2" class="b_top b_left b_bottom"><b>Товар</b></td>
		<td colspan="2" class="b_top b_left b_bottom"><b>Ед. изм.</b></td>
		<td rowspan="2" class="b_top b_left"><b>Вид<br>упа-<br>ков-<br>ки</b></td>
		<td colspan="2" class="b_top b_left b_bottom"><b>Количество</b></td>
		<td rowspan="2" class="b_top b_left"><b>Масса<br>брутто</b></td>
		<td rowspan="2" class="b_top b_left"><b>Количество<br>(масса<br>нетто)</b></td>
		<td rowspan="2" class="b_top b_left"><b>Цена, руб.<br>коп.</b></td>
		<td rowspan="2" class="b_top b_left"><b>Сумма без<br>учета НДС<br>руб. коп.</b></td>
		<td colspan="2" class="b_top b_left b_bottom"><b>НДС</b></td>
		<td rowspan="2" class="b_top b_left b_right"><b>Сумма с<br>учетом НДС<br>руб. коп.</b></td>
	</tr>
	<tr>
		<td class="b_left">наименование, характеристика,<br>сорт, артикул товара</td>
		<td class="b_left">Код</td>
		<td class="b_left">Наиме-<br>нование</td>
		<td class="b_left">код<br>по<br>ОКЕИ</td>
		<td class="b_left">в од-<br>ном<br>месте</td>
		<td class="b_left">мест,<br>штук</td>
		<td class="b_left">ставка, %</td>
		<td class="b_left">сумма руб.<br>коп.</td>
	</tr>
	<tr class=boldborders>
		<td class="b_left b_top b_bottom">1</td>
		<td class="b_left b_top b_bottom">2</td>
		<td class="b_left b_top b_bottom">3</td>
		<td class="b_left b_top b_bottom">4</td>
		<td class="b_left b_top b_bottom">5</td>
		<td class="b_left b_top b_bottom">6</td>
		<td class="b_left b_top b_bottom">7</td>
		<td class="b_left b_top b_bottom">8</td>
		<td class="b_left b_top b_bottom">9</td>
		<td class="b_left b_top b_bottom">10</td>
		<td class="b_left b_top b_bottom">11</td>
		<td class="b_left b_top b_bottom">12</td>
		<td class="b_left b_top b_bottom">13</td>
		<td class="b_left b_top b_bottom">14</td>
		<td class="b_left b_top b_bottom b_right">15</td>
	</tr>
	{foreach from=$order_content item=order_item key=id}
	<tr>
		<td class="b_left b_bottom">{$id+1}</td>
		<td class="b_left b_bottom leftAlign inline_edit">{$order_item.name|default:"&nbsp;"|htmlsafe:true:true}</td>
		<td class="b_left b_bottom">&nbsp;</td>
		<td class="b_left b_bottom">шт.</td>
		<td class="b_left b_bottom">шт.</td>
		<td class="b_left b_bottom">&nbsp;</td>
		<td class="b_left b_bottom">&nbsp;</td>
		<td class="b_left b_bottom rightAlign">&nbsp;</td>
		<td class="b_left b_bottom">&nbsp;</td>
		<td class="b_left b_bottom rightAlign">{$order_item.Quantity|string_format:"%0.3f"}</td>
		<td class="b_left b_bottom rightAlign nobr">{$order_item.Price|default:0|string_format:"%0.2f"}</td>
		<td class="b_left b_bottom rightAlign nobr">{$order_item.Nds_ItemPrice|default:0|string_format:"%0.2f"}</td>
		<td class="b_left b_bottom">{$NDS}</td>
		<td class="b_left b_bottom rightAlign">{$order_item.Nds_amount|default:0|string_format:"%0.2f"}</td>
		<td class="b_left b_bottom b_right rightAlign nobr">{$order_item.ItemPrice|default:0|string_format:"%0.2f"}</td>
	</tr>
	{/foreach}
	<tr>
		<td colspan="7" align="right" class="rightAlign">Итого</td>
		<td class="b_left b_bottom">X</td>
		<td class="b_left b_bottom">X</td>
		<td class="b_left b_bottom rightAlign nobr">{$order.total_quantity|default:0|string_format:"%0.3f"}</td>
		<td class="b_left b_bottom">X</td>
		<td class="b_left b_bottom rightAlign nobr">{$order.total_nds_price|default:0|string_format:"%0.2f"}</td>
		<td class="b_left b_bottom">X</td>
		<td class="b_left b_bottom rightAlign nobr">{$order.total_nds|default:0|string_format:"%0.2f"}</td>
		<td class="b_left b_bottom b_right rightAlign nobr">{$order.total_price|default:0|string_format:"%0.2f"}</td>
	</tr>
	<tr class=totals>
		<td colspan="7" align="right" class="rightAlign normalFont ">Всего
		по накладной</td>
		<td class="b_left b_bottom">&nbsp;</td>
		<td class="b_left b_bottom">&nbsp;</td>
		<td class="b_left b_bottom rightAlign">{$order.total_quantity|default:0|string_format:"%0.3f"}</td>
		<td class="b_left b_bottom normalFont">X</td>
		<td class="b_left b_bottom rightAlign nobr">{$order.total_nds_price|default:0|string_format:"%0.2f"}</td>
		<td class="b_left b_bottom normalFont">X</td>
		<td class="b_left b_bottom rightAlign">{$order.total_nds|default:0|string_format:"%0.2f"}</td>
		<td class="b_left b_bottom b_right rightAlign nobr">{$order.total_price|default:0|string_format:"%0.2f"}</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding=0 cellspacing=0
	class="mainTable">
	<tr>
		<td class=separatorCell>&nbsp;</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding=0 cellspacing=0
	class="mainTable">
	<tr>
		<td class="nobr">Товарная накладная имеет приложение на</td>
		<td style="width: 40%" class="underlined">&nbsp;</td>
		<td class="nobr">и содержит</td>
		<td style="width: 40%" class=underlined><b>{$order.total_record_string}</b></td>
		<td class="nobr">порядковых номеров записей</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td class="reportSmallFont cellComment">прописью</td>
		<td>&nbsp;</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding=0 cellspacing=0
	class="mainTable">
	<tr>
		<td class=separatorCell>&nbsp;</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding=0 cellspacing=0
	class="mainTable">
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td class="rightAlign">Масса груза (нетто)</td>
		<td class=underlined><b>&nbsp;</b></td>
		<td class="b_top b_left b_bottom b_right" style="width: 30mm">&nbsp;</td>
		<td class="leftAlign" style="width: 20mm">кг</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td class=cellComment>прописью</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="width: 20mm" class="leftAlign nobr">Всего мест</td>
		<td style="width: 50%" class=underlined><b>&nbsp;</b></td>
		<td class="rightAlign">Масса груза (брутто)</td>
		<td class=underlined><b>&nbsp;</b></td>
		<td class="b_top b_left b_bottom b_right" style="width: 30mm">&nbsp;</td>
		<td class="leftAlign" style="width: 20mm">кг</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td class=cellComment>прописью</td>
		<td>&nbsp;</td>
		<td class=cellComment>прописью</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
</table>

<table width="100%" border="0" cellpadding=0 cellspacing=0
	class="mainTable">
	<tr>
		<td class=separatorCell>&nbsp;</td>
	</tr>
</table>

<table border=0 cellpadding=0 cellspacing=0 width="100%">
	<tr>

		<td width="50%">

		<table width="100%" border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td class="nobr">Приложение (паспорта, сертификаты, и т.п.)</td>
				<td width="80%" class=underlined>&nbsp;</td>
				<td>листах</td>
			</tr>
		</table>

		<table width="100%" border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td class=leftAlign>Всего отпущено на сумму</td>
			</tr>
			<tr>
				<td class="underlined leftAlign"><b>{$order.total_price_string}, {if $order.nds}в т.ч. НДС{else}без налога (НДС){/if}</b></td>
			</tr>
			<tr>
				<td class=separatorCell>&nbsp;</td>
			</tr>
		</table>

		<table width="100%" border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td class="leftAlign nobr">Отпуск разрешил</td>
				<td class=underlined style="width: 30%">Директор</td>
				<td>&nbsp;</td>
				<td class=underlined style="width: 30%">&nbsp;</td>
				<td>&nbsp;</td>
				<td class=underlined><b>{$CEO_NAME|default:"&nbsp;"|htmlsafe:true:true}</b></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class=cellComment>должность</td>
				<td>&nbsp;</td>
				<td class=cellComment>подпись</td>
				<td>&nbsp;</td>
				<td class="cellComment nobr">расшифровка подписи</td>
			</tr>
			<tr>
				<td class=leftAlign>&nbsp;</td>
				<td class=underlined>Гл. Бухгалтер</td>
				<td>&nbsp;</td>
				<td class=underlined>&nbsp;</td>
				<td>&nbsp;</td>
				<td class=underlined><b>{$BUH_NAME|default:"&nbsp;"|htmlsafe:true:true}</b></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class=cellComment>должность</td>
				<td>&nbsp;</td>
				<td class=cellComment>подпись</td>
				<td>&nbsp;</td>
				<td class="cellComment nobr">расшифровка подписи</td>
			</tr>
		</table>

		<table border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td width="90">М.П.</td>
				<td style="padding-left:100px;" class="inline_edit">{$order.paid_date|default:"&nbsp;"}</td>
			</tr>
		</table>

		</td>

		<td style="padding-left: 5px">&nbsp;</td>

		<td width="50%" valign=top>

		<table width="100%" border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td class="leftAlign nobr">По доверенности №</td>
				<td class=underlined style="width: 85%">&nbsp;</td>
			</tr>
			<tr>
				<td class=separatorCell>&nbsp;</td>
				<td class=separatorCell>&nbsp;</td>
			</tr>
		</table>

		<table width="100%" border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td class=leftAlign>Выданной</td>
				<td class=underlined style="width: 90%">&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="cellComment nobr">кем, кому (организация,
				должность, фамилия, и.о.)</td>
			</tr>
		</table>

		<table width="100%" border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td class="leftAlign nobr">Груз принял</td>
				<td class=underlined style="width: 90%">&nbsp;</td>
			</tr>
		</table>

		<table width="100%" border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td class=separatorCell>&nbsp;</td>
				<td class=separatorCell>&nbsp;</td>
			</tr>
			<tr>
				<td align=left class="nobr">Груз получил грузополучатель</td>
				<td class=underlined style="width: 90%">&nbsp;</td>
			</tr>
		</table>

		<table border="0" cellpadding=0 cellspacing=0
			class="mainTable">
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td width="90">М.П.</td>
				<td style="padding-left:100px;" class="inline_edit">{$order.paid_date|default:"&nbsp;"}</td>
			</tr>
		</table>

		</td>

	</tr>
</table>

</body>
</html>