/* ====================== MAIN THEME STYLES: layout, fonts & colors ====================== */
* { margin:0; padding:0;}
html
{ margin: 0px;
  padding: 0px;
}

body
{ margin: 0px;
  padding: 0px;
  text-align:center;
}

p, body, font, div, td, input, select, textarea
{ font-family: arial,helvetica,sans-serif;
  font-size: 100%;
}

h1
{ font-size: 160%;	margin:1em 0;
}
h2
{ font-size: 130%;margin:1em 0;
}
h3
{ font-size: 120%; margin:1em 0 0.5em 0;
}

form{
 padding:0px;
 margin: 0px;
}

a
{ font-weight: bold;
  color: #000;
}

a img{
 border: 0;
}
a:hover { color:#EA4D4D;}
div { zoom:1;}
input, select { vertical-align:middle;}

/* ====================== COMPONENT CONTAINER STYLES ====================== */
.all_wrapper { width:1000px; text-align:left; margin:10px auto; }

#container_top_left
{ text-align: center;
  vertical-align: bottom;
  width: 200px;
  padding-bottom:5px;

}

#container_top
{ text-align: left;
  vertical-align: top;
  width:510px; 

}

#container_top_right
{ text-align: right;
  vertical-align: top;
  width: 280px;
}

#container_left_sidebar, #container_right_sidebar
{ 
  text-align: left;
  vertical-align: top;
  width: 200px;
}

#container_main_content
{ text-align: left;
  vertical-align: top;
  width:"*";
  padding:10px 0;
}



/* ====================== DEFAULT STYLES OF VARIOUS COMPONENTS ====================== */

/* padding for all general components */
.cpt_news_short_list, .cpt_survey, .cpt_maincontent,
.cpt_divisions_navigation, .cpt_auxpages_navigation
{ font-size:70%;
  text-align: left;
  padding: 10px;
//  width: 100%;
}

ul.vertical, ul.horizontal
{ padding: 0px;
  margin: 0px;
}
ul.horizontal{
width: 100%;
overflow: hidden;
}
.vertical li
{ padding-left: 0px;
  padding-bottom: 5px;
}
.horizontal li
{ float: left;
  margin-right: 25px;
}

.cpt_divisions_navigation ul
{ list-style-type: none;
margin: 0px;
}

.cpt_auxpages_navigation ul.vertical
{ list-style-image: url(../../images/li_infopages.gif);
  padding-left: 15px;
}
.cpt_auxpages_navigation .vertical li
{ padding-left: 5px;
}
.cpt_auxpages_navigation ul.horizontal
{ list-style-type: none;
  padding-left: 0px;
}

.cpt_shopping_cart_info
{ padding-top:10px;
  font-size:75%;
  text-align:left;
}
.cpt_shopping_cart_info a { font-size:15px; text-decoration:none; border-bottom:solid 1px; color:#000;}
.cpt_shopping_cart_info div { padding:3px; font-weight:bold;}
.cpt_survey
{  background:#D19E9E url(../../images/glr_bottom_m_circleD69090.gif) 130px bottom no-repeat;  color:#000; margin:5px 0;
}
.survey_question{
 font-weight: bold;
 margin-bottom: 10px;
}
.survey_submit{
 margin-top: 10px;
}
.cpt_survey form{
 padding:0px;
 margin: 0px;
 font-size:75%;
}
.cpt_survey label { font-size:70%; color:#000;}
.cpt_survey input { font-size:130%;}
.cpt_currency_selection
{ text-align: center;
  font-size: 75%;
 background:#d69090;}

.cpt_currency_selection select
{ font-size: 90%;
}

.cpt_news_short_list
{ background:#D19E9E url(../../images/glr_bottom_m_circleD69090.gif) 110px bottom no-repeat; 
}
.cpt_currency_selection form{
 display: inline;
}
.cpt_category_tree { background:#ca1f7a; font-size:70%; padding:10px 0; }
.cpt_category_tree ul{
 list-style-type:none;
 margin:0px;
 padding:0px;
}
.cpt_category_tree li { padding:0 5px 0 10px;}
.cpt_category_tree li a { color:#fff; text-decoration:none;}
.cpt_category_tree li a { background:url(../../images/glr_arrow_category_small_white.gif) 5px 6px no-repeat; padding:0 0 0 15px; line-height:150%;}
.cpt_category_tree a:hover { text-decoration:none;}
.cpt_category_tree .parent_current a {
 font-weight: bold;
 color: #530a31!important;
 text-decoration: none !important;
}
.cpt_category_tree .child a{
 margin-left: 15px; font-weight:normal;
}
.cpt_category_tree .child_current a{
 margin-left: 25px;
 color:#530a31!important;
 text-decoration: none!important;
}
.bullet { font-size:0px; text-decoration: none!important; } 

.cpt_category_tree .tab{
 margin-left:10px;
}
.cpt_product_add2cart_button
{ padding-top: 10px;
}

.cpt_language_selection a img { border:solid 1px #fff; margin:2px 0;}
.cpt_product_params_selectable { clear:left;}
.cpt_product_category_info { font-size:75%;}
input.input_message, input.input_message_focus { width:160px; }
.home_page_category_logo { background:url(../../images/defaultnocatimage.gif) left top no-repeat; display:block; height:65px; width:65px;}
#container_main_content .cpt_root_categories td { vertical-align:top;}
/* ====================== SET HOW CERTAIN COMPONENTS APPEAR IN VARIOUS CONTAINERS ====================== */
/* ====================== (if you wish to overwrite default appearence of components in certain containers) ====================== */
#container_top_left a { text-decoration:none; font-size:16px; font-family:Arial, Helvetica, sans-serif; display:block; padding:40px 0 10px 0; background:url(../../images/glr_companyname.gif) center 5px no-repeat;}
#container_top_left span { padding:0 2px;}
#container_top_left span.glr_l1 { color:#ea4d4d;}
#container_top_left span.glr_l2 { color:#ea4d4d;}
#container_top_left span.glr_l3 { color:#ea4d4d;}

#container_top .cpt_divisions_navigation, #container_top .cpt_auxpages_navigation
{ font-size:75%;
font-weight:bold;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#container_top .cpt_auxpages_navigation .vertical li
{ padding-left: 0px;
}

#container_top .cpt_divisions_navigation li, #container_top .cpt_auxpages_navigation li { background:url(../../images/cty_li.gif) left 3px no-repeat; padding-left:12px;}
#container_top .cpt_divisions_navigation a, #container_top .cpt_auxpages_navigation a
{ color: white;
  text-decoration: none;
}

#container_top .cpt_auxpages_navigation ul.vertical
{ list-style-image: none;
  padding-left: 0px;
}

#container_top .cpt_divisions_navigation a:hover, #container_top .cpt_auxpages_navigation a:hover
{ text-decoration: underline;
}

#container_top .cpt_custom_html { //float:left;}
#container_top_right .cpt_language_selection, #container_top .cpt_language_selection
{ background:#e46e6e;  text-align:center; background:#EA4D4D url(../../images/glr_two_circleEA4D4D.gif) 100px -50px no-repeat ;}
 

#container_top_right .cpt_language_selection a, #container_top .cpt_language_selection a
{ color: white; 
}


#container_top_right  .cpt_currency_selection, #container_top  .cpt_currency_selection, #container_top_right .cpt_language_selection, #container_top .cpt_language_selection { float:left; width:250px; font-size: 75%;  height:40px; }

#container_top .cpt_currency_selection form, #container_top .cpt_currency_selection span, #container_top .cpt_language_selection a, 
#container_top_right .cpt_currency_selection form, #container_top_right .cpt_currency_selection span, #container_top_right .cpt_language_selection a
 { //position:relative; //top:8px;}

html>/**/body #container_top_right  .cpt_currency_selection, html>/**/body #container_top  .cpt_currency_selection, html>/**/body #container_top_right .cpt_language_selection, html>/**/body #container_top .cpt_language_selection { line-height:40px;}

#container_top_right  .cpt_currency_selection, #container_top  .cpt_currency_selection { margin:0 6px 10px 0; }
*:first-child+html #container_top_right  .cpt_currency_selection, #container_top  .cpt_currency_selection { //margin:0 3px 10px 0;}
#container_top_right .cpt_language_selection, #container_top .cpt_language_selection { margin:0 0 10px 0;} 

#container_top .r_header { width:240px; //width:250px; float:left; line-height:20px; padding:3px 0 0 10px; margin-top:5px;  }
#container_top .r_header.pink3bg { margin-right:6px;    _margin-right:3px; background:#D69090 url(../../images/glr_circleD69090.gif) no-repeat scroll 100px -20px;}

*:first-child+html #container_top .r_header.pink3bg   {//margin-right:6px; }


#container_top .r_header.pinkbg { background:#EA4D4D url(../../images/glr_two_circleEA4D4D.gif) 100px -34px no-repeat;}

.cpt_product_search input {  font-size:90%;  vertical-align:middle;}

#container_left_sidebar .cpt_product_search, #container_right_sidebar .cpt_product_search, #container_top_right .cpt_product_search
{ background: #ea4d4d; font-size:75%; line-height:50px;
}
#container_left_sidebar .cpt_divisions_navigation, #container_right_sidebar .cpt_divisions_navigation { background:#ca7a7a;}
#container_left_sidebar .cpt_divisions_navigation li a { color:#fff; text-decoration:none; font-stretch:semi-condensed; text-transform:uppercase;} 
/*#container_main_content .cpt_product_search { background:#353D6B; font-size:75%; padding:15px 0; text-align:center;}
*/
#container_main_content .under_searchform  { background: url(../../images/cty_searchform_transition.gif) right top no-repeat;}

#container_left_sidebar .cpt_product_search form, #container_right_sidebar .cpt_product_search form
{  //margin:0 0 15px 0;}
html:first-child #container_left_sidebar .cpt_product_search form,html:first-child #container_right_sidebar .cpt_product_search form {  margin:0 0 15px 0;}

#container_right_sidebar .right_bg_red { background:url(../../images/cty_right_transition1.gif) left top no-repeat;}
cpt_shopping_cart_info .right_bg_pink { background:url(../../images/cty_right_transition2.gif) left top no-repeat;}
#container_footer .cpt_divisions_navigation a
{ font-size: 90%;
  font-weight: normal;
}
#container_right_sidebar .cpt_shopping_cart_info { background:#EA4D4D; height:77px;  overflow:hidden; margin:10px 0;color:#fff; //padding-bottom:7px;}
#container_right_sidebar .cpt_shopping_cart_info a { color:#fff;}

#container_left_sidebar .cpt_auxpages_navigation { background:#353d6b;}
.left_bg_navy { background:url(../../images/cty_left_transition3.gif) left bottom no-repeat; height:20px; font-size:1px; line-height:20px;}
#container_left_sidebar .cpt_auxpages_navigation ul { list-style:none;}
#container_left_sidebar .cpt_auxpages_navigation li { background:url(../../images/cty_arrow_navy.gif) left 3px no-repeat; padding:0 0 0 30px; line-height:20px;}
#container_left_sidebar .cpt_auxpages_navigation li a { color:#fff;  text-decoration:none;}
#container_left_sidebar .cpt_category_tree a, #container_left_sidebar .cpt_auxpages_navigation li a:hover { text-decoration:underline;}
#container_left_sidebar .cpt_category_tree a:hover { text-decoration:none;}

#container_left_sidebar .cpt_divisions_navigation, #container_left_sidebar .cpt_divisions_navigation ul, #container_left_sidebar .cpt_divisions_navigation ul li { padding-left:0; margin-left:0;}
#container_left_sidebar .cpt_divisions_navigation ul li a, #container_top_right .cpt_divisions_navigation ul li a  { padding-left:20px; display:block;}
#container_top_right .cpt_divisions_navigation ul li a {  color:#000;}
#container_left_sidebar .cpt_divisions_navigation ul li a:hover { background:#fff; color:#CA7A7A;}
#container_top_right .cpt_divisions_navigation ul li a:hover { background:#CA7A7A; color:#fff; text-decoration:none;}
#container_main_content .cpt_product_lists
{ padding-bottom: 20px; border-bottom:solid 1px #e1e1e1;}

#container_main_content .cpt_root_categories  { padding-top:20px;}
#container_main_content .cpt_root_categories td { font-size:90%; vertical-align:top;}
#container_main_content .cpt_root_categories td.cat_image a {position:relative; top:-0.8em;}
#container_main_content .cpt_root_categories { padding-top:1em;}

#container_main_content .cpt_root_categories td a.rcat_root_category { display:inline; text-decoration:underline; font-size:90%; color:#000; font-weight:bold;}
#container_main_content .cpt_root_categories td a:hover { text-decoration:underline;}
#container_main_content .cpt_maincontent  { _width:100%;}
.cpt_maincontent td { font-size:75%;}

#container_main_content ul.product_list {
}
#container_main_content ul.product_list li {

	margin:0 0 5px 0;
	float:left;
}
#container_main_content ul.product_list li table { 	float:left; }
#container_main_content ul.product_list li table td { text-align:center;}
#container_main_content ul.product_list li a {
	color:#000;
	padding-left:5px;
	display:block;
	float:left;
	width:160px;
}
#container_main_content ul.product_list li table a { float:none;}

#container_footer { background:#EA4D4D; padding:3px;}
#container_footer .cpt_divisions_navigation { text-align:center; padding:0; }
#container_footer .cpt_divisions_navigation a { color:#fff;}
#container_footer .cpt_divisions_navigation ul, #container_footer .cpt_divisions_navigation ul li { display:inline; float:none;}
#container_main_content ul { list-style-position:inside;}
#container_main_content div { zoom:0;}
/* ====================== STYLES OF ELEMENTS THAT APPEAR INSIDE VARIOUS COMPONENTS ====================== */

#searchstring
{ width: 120px; margin:0 0 0 15px;
}

#shpcrtca{
 font-weight: bold;
 font-size: 130%;
 white-space: nowrap;
}

#container_top #searchstring
{ width: 60%;
}

#container_main_content #searchstring
{ width: 60%;
}


/* ====================== PREDEFINED STYLES; edit, but do not delete these styles ====================== */

.small
{ font-size: 70%;
}
.big
{ font-size: 150%;
}

.background1, .background1 td
{ background-color: #FFEEEE;
}

.btn_checkout
{ font-size: 130%;
  font-weight: bold;
  margin: 10px;
  padding: 3px;
}

.prdbrief_add2cart
{ padding-top: 5px;
}

.error_block
{ font-weight: bold;
  color: red;
}

/*design folders*/
.purpurbg { background:#ca1f7a; padding-top:3px; }
.whiteborder { background:#fff; overflow:hidden; padding:0 1px;}
.pinkfolder { background:#EA4D4D; line-height:7px; font-size:1px; position:relative; top:2px;}

.darkpinkbg { background:#ca7a7a; padding-top:3px; }
.whiteborder { background:#fff; overflow:hidden; padding:0 1px; }
.purpurfolder { background:#ca1f7a; line-height:7px; font-size:1px; position:relative; top:2px;}
.col_header { padding:3px 0 0 15px; color:#fff; font-size:70%; text-transform:uppercase; font-weight:bold;}
.r_header { line-height:30px;}
.pinkbg { background:#EA4D4D; padding-top:3px; }
.pink2bg { background:#D19E9E; padding-top:3px; }
.pink3bg { background:#D69090;}

div.top-colorline { height:87px; background:#EA4D4D url(../../images/glr_zest.gif) left top no-repeat;}

#tbl-checkout-progress td{
font-size: 0.7em;
vertical-align: top;
}

.current_prd_thumbnail img{
	border: #BBBBBB 3px solid;
}
a.prd_thumbnail img{
	border: #FFFFFF 3px solid;
}
a.prd_thumbnail:hover img{
	border: #BBBBBB 3px solid;
}

.news_date
{ color: #921515;
  font-weight:bold;

}
.news_title
{ padding-bottom: 10px;}
.news_title a { color:#000; font-weight:normal;}

.news_viewall
{ padding-bottom: 10px; font-size: 85%;
}
.news_subscribe, .news_thankyou
{ text-align: left;
 overflow:hidden;
}
.news_subscribe img, .news_thankyou img { vertical-align:middle;}
.news_subscribe div { float:left; display:inline; width:auto; }
h1.welcome { color:#EA4D4D; font-weight:normal; font-size:19pt; letter-spacing:-1px; margin:10px ;}


/************************
BLOG STYLES
***************************/
.post_title{
 color: #666;
 margin-top: 30px;
 margin-bottom: 0px;
}
.post_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 margin-bottom: 15px;
 }
.post_content{
 padding-left: 15px;
}

/***************************
PRODUCTS COMPARISON
****************************/
.cmp_headers{
 background-color: #d9e9ff;
}
.cmp_column_odd{
 background-color: white;
 vertical-align: top;
}
.cmp_column_even{
 background-color: #F2F8FF;
 vertical-align: top;
}
#cmp-table tr:hover td{
 background-color: #d5e5fa!important;
}
#cmp-table tr td{
 text-align:center;
 padding: 6px;
}
#cmp-table tr td.cmp_headers{
 text-align: left;
}

/***************************
PRODUCT DETAILED
****************************/
.regularPrice{
 color: brown;
 text-decoration: line-through;
}
.totalPrice{
 color: #ca0101;
 font-weight: bold;
 font-size: 130%;
}
.youSaveLabel{
 font-size: 75%;
}
.youSavePrice{
 font-size: 75%;
}
.prd_out_of_stock {
 font-style:  italic;
}
.prdbrief_name { font-size:130%;}
.prdbrief_add2cart { margin:5px 0;}
.prdbrief_thumbnail { margin-top:10px;}
#cat_path { margin-bottom:10px;}
/************************
PRODUCT REVIEWS STYLES
***************************/
.review_block
{ margin-left: 20px;
}
.review_title{
 color: #333;
 margin-top: 10px;
 margin-bottom: 0px;
 font-size: 120%;
}
.review_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 font-size: 90%;
 margin-bottom: 5px;
 }
.review_content{
 color: #333;
 padding-left: 20px;
}
.review_showall{
 margin-left: 20px;
}

/****************************
SHOPPING CART
*****************************/
.background_cart_top
{ background-color: #D9E9FF;
  border-bottom: 1px #99C9DF solid;
  text-align:left;
}
.background_cart_top h1{
 display: inline;
 padding: 0px;
 margin: 0px;
}
#cart_content_tbl{
     width:100%;}
#cart_content_tbl td{
 padding: 6px;
}
#cart_page_title{
 padding: 10px;
 text-align: left;
}
#cart_page_title h1{
 display inline;
 padding: 0px;
 margin: 0px;
}
#cart_clear{
 padding: 10px;
 text-align: right;
}
#cart_clear a{
 font-size:9pt;
}
.cart_discount_label{
 font-weight: bold;
}
#cart_total_label{
 font-size: 130%;
 font-weight: bold;
}
#cart_total{
 background-color: #D9E9FF;
 font-size: 130%;
 font-weight: bold;
 padding: 10px;
 white-space: nowrap;
}
#cart_checkout_btn{
 padding-top: 20px;
}
.cart_product_brief_description{
 font-size: 80%;
}
#cart_content_header td{
 font-weight: bold;
}
.cart_apply_for_discounts_extra{
 font-size: 80%;
 color: #777;
}
.cart_product_quantity{
 text-align: center;
}

/********************
HOMEPAGE UNFOLDED TREE
*********************/
.rcat_root_category
{ font-size: 120%;
  font-weight: bold;
}
.rcat_products_num
{ color: #921515;
  font-size: 80%;
  font-weight:bold;
}
.rcat_child_categories a
{ font-size: 80%;
  font-weight: normal;
}

/********************
REGISTRATION PAGE
*********************/
#reg_fields_tbl td{
 padding: 5px;
}
#reg_auth_fields td{
 background-color: #D9E9FF;
}
#reg_confcode td{
 background-color: #D9E9FF;
}
#reg_fields_tbl td input, .addressform td input{
 width: 200px;
}
#subscribed4news{
 width:auto!important;
}
#reg_fields_tbl td textarea, .addressform td textarea{
 width: 200px;height: 100px;
}
#reg_fields_tbl select {
 width: 200px; }

 
#reg_submit_btn{
 font-size:150%;
 font-weight: bold;
}

/*********
SEARCH IN CATEGORY
**********/
#cat_advproduct_search{
 background-color: #ffeeee;
	margin-right:10px;
	width:230px;
}
#cat_advproduct_search form { padding:10px; }
#cat_advproduct_search td { vertical-align:top; }
#cat_advproduct_search select { width:100%;  }
#cat_advproduct_search form, #cat_advproduct_search table { //width:100%;}
#cat_advproduct_search h3 { padding:0px; margin: 10px 10px 0 10px;}
#cat_info_left_block, #cat_advproduct_search  { float:left;}


#cat_top_tree { overflow:hidden; margin-top:10px;}
.cpt_maincontent center  { clear:both; //width:100%;}
.hndl_submit_prds_cmp, #cat_product_sort { margin:10px 0;}
.prdbrief_name a { text-decoration:none; line-height:150%;}
.prdbrief_name a:hover { border-bottom:solid 1px;}
/************
CHECKOUT
************/
.checkout_noframe_title {
	padding: 5px 15px;
}
#checkout_have_account {
	padding: 15px;
	background-color: #D9E9FF;
	margin: 0 -5px 15px -5px;
}
#checkout_logininfo { width:428px;}
#checkout_logininfo .inputtext, #checkout_addresses .inputtext, #checkout_addresses textarea {
	width: 200px;
}
.paddingblock input.checkout_buttons {
	font-size: 130%;
	font-weight: bold;
	margin:5px 0;
}
.checkout_steps_divider {
	width: 40px;
	height:1px;
	background-color:#99C9DF;
	overflow:hidden;
}
#checkout_addresses { width:800px;}
#checkout_addresses td { } 
/**********************
ORDER STYLES
***********************/
tr#ord_total_row * {
	font-size: 105%;
	font-weight: bold;
}
.row_odd td {
	background-color: #F2F8FF;
}
.row_even td {
	border: 0px solid #D9E9FF;
	border-width: 1px 0px;
}

.paddingblock { background:#fff;
	padding-left: 15px;
	padding-right: 15px;
	text-align:left;
	font-size:12pt;
}
.paddingblock h2 {
	padding:20px 5px;
	margin-top: 0px;
}
.paddingblock td { font-size:95%; vertical-align:top; padding:5px;}
.paddingblock p { margin-bottom:10px;}

.paddingblock input { margin:2px 0 0 0;}
.asterisk {
	color:red;
}
.cellpadding tr td {
	padding: 5px;
}
.cust_name {
	font-size:110%;
	font-weight: bold;
}
#prddeatailed_container .cpt_product_rate_form table {
	width: 100%;
	/***********************/
width: auto;/**/
}

#block-customerinfo td { font-size:100%;}
.cpt_product_images{
float: left;
}

/*NIFTY*/
b.niftycorners,b.niftyfill{display:block}

b.niftycorners *{ display:block;height:1px;line-height:1px;font-size:1px;
    overflow:hidden;border-style:solid;border-width: 0 1px;}
  
/*normal*/
b.r1{margin: 0 3px;border-width: 0 2px}
b.r2{margin: 0 2px}
b.r3{margin: 0 1px}
b.r4{height: 2px}
b.rb1{margin: 0 8px;border-width:0 2px}
b.rb2{margin: 0 6px;border-width:0 2px}
b.rb3{margin: 0 5px}
b.rb4{margin: 0 4px}
b.rb5{margin: 0 3px}
b.rb6{margin: 0 2px}
b.rb7{margin: 0 1px;height:2px}
b.rb8{margin: 0;height:2px}
b.rs1{margin: 0 1px}
/*transparent inside*/
b.t1{border-width: 0 5px}
b.t2{border-width: 0 3px}
b.t3{border-width: 0 2px}
b.t4{height: 2px}
b.tb1{border-width: 0 10px}
b.tb2{border-width: 0 8px}
b.tb3{border-width: 0 6px}
b.tb4{border-width: 0 5px}
b.tb5{border-width: 0 4px}
b.tb6{border-width: 0 3px}
b.tb7{border-width: 0 2px;height:2px}
b.tb8{border-width: 0 1px;height:2px}
b.ts1{border-width: 0 2px}

body.body-page-404 { background:#fff; background-image:none; text-align:left; font-size:12px;}
body.body-page-404 ul, body.body-page-404 li { list-style:none;}
.cpt_product_add2cart_button input { vertical-align:middle;}

