/* Pixel texture creator  Leaves plus X//*/
#menu-block {background:#e5e5c3;}
#top-line {  background:url(church.gif) left -20px repeat; border-bottom:solid 1px #aaa;}
#logo-block .label { color:#494733;}
#top-line #user-block, #top-line a { color:#494733;}
