/* ====================== MAIN THEME STYLES: layout, fonts & colors ====================== */
* {
	margin:0;
	padding:0;
}
html {
	margin: 0px;
	padding: 0px;
	background:#b6b5b3;
}
body {
	margin: 0px;
	padding: 0px;
	text-align:center;
}
p, body, font, div, td, input, select, textarea {
	font-family: arial, helvetica, sans-serif;
	font-size: 100%;
}
h1 {
	font-size: 160%;
	margin-top:10px;
}
h2 {
	font-size: 130%;
	margin-bottom:10px;
}
h3 {
	font-size: 100%;
	margin-bottom:10px;
}
form {
	padding:0px;
	margin: 0px;
}
a {
	font-weight: bold;
	color: #003399;
}
a:hover { color:#921515;}
a img {
	border: 0;
}
div {
	zoom:1;
}
/* ====================== COMPONENT CONTAINER STYLES ====================== */
.all_wrapper {
	text-align:left;
	width:98%;
	margin:0 auto;
	padding:0 0 0 4px;
	background:url(../../images/shp_side_bg.gif) left 15px no-repeat;
}
.shp_bodyshd_r { position:relative;padding:45px 4px 0 0; background:url(../../images/shp_side_bg.gif) right 15px no-repeat;}

.all_wrapper table { position:relative;}
.shp_topbg, .shp_tl, .shp_tr  { position:absolute; top:0px; }
.shp_topbg { background:url(../../images/shp_top_bg.gif) left top repeat-x; right:4px; //width:99.9%; height:216px; }
html>/**/body .shp_topbg { left:5px;}
.shp_tl { background:url(../../images/shp_topleftcorner.gif) left top no-repeat;left:0px;height:216px; width:100px; }
.shp_tr { background:url(../../images/shp_bags.gif) left top no-repeat; right:4px;height:216px; width:292px;}

#container_top_left {
	text-align: center;
	vertical-align: bottom;
	width: 200px;
	padding-bottom:20px;
}
#container_top {
	text-align: right;
	vertical-align: top;
	width:'*';
	padding-bottom:20px;
}
#container_top_right {
	text-align: right;
	vertical-align:bottom;
	width: 200px;
	padding-bottom:5px;
	
}
#container_menu { background:#fff; padding:2px;}
#container_left_sidebar, #container_right_sidebar {
	text-align: left;
	vertical-align: top;
	width: 200px;
	background:#fff;
}
#container_main_content {
	text-align: left;
	vertical-align: top;
	padding:0 4px 4px 4px;
	background:#fff;
}
#container_footer {
	padding:3px;
	position:relative;
	background:#fff url(../../images/shp_bottom_bg.gif) left bottom repeat-x;
	padding:20px 0;
}
.shp_footerbg_r, .shp_footerbg_l { position:absolute; bottom:0px; width:12px; height:24px;}
.shp_footerbg_r { background:url(../../images/shp_bottom_corn.gif) right bottom no-repeat; right:-4px;}
.shp_footerbg_l { background:url(../../images/shp_bottom_corn.gif) left bottom no-repeat; left:-4px;}

/* ====================== DEFAULT STYLES OF VARIOUS COMPONENTS ====================== */

/* padding for all general components */
.cpt_logo { }
.cpt_logo img { }
.cpt_news_short_list, .cpt_survey, .cpt_maincontent {
	font-size:75%;
	text-align: left;
	padding: 10px;
// width: 100%;
}
.cpt_divisions_navigation, .cpt_auxpages_navigation {
	font-size:75%;
	font-weight:bold;
	width:auto;

}
.shp_greenbg .cpt_divisions_navigation, .shp_greenbg .cpt_auxpages_navigation, .shp_greenbg .cpt_divisions_navigation ul.horizontal, .shp_greenbg .cpt_auxpages_navigation ul.horizontal { float:left; width:auto;}

ul.vertical, ul.horizontal {
	padding: 0px;
	margin: 0px;
}
ul.horizontal {
	width: 100%;
	overflow: hidden;
}
.vertical li {
	padding-bottom: 5px;
}
.horizontal li {
	float: left;
}

.cpt_divisions_navigation ul, .cpt_auxpages_navigation ul {
	list-style-type: none;
	margin: 0px;

}
.shp_greenbg .cpt_divisions_navigation ul.horizontal li , .shp_greenbg .cpt_auxpages_navigation ul.horizontal li { border-right:solid 2px #fff;}

.cpt_divisions_navigation ul.horizontal li a, .cpt_auxpages_navigation ul.horizontal li a { color:#fff;  display:block; padding:0 20px; line-height:24px; text-decoration:none; white-space:nowrap;}



.cpt_shopping_cart_info {
	padding:5px 10px 35px 10px;
	font-size:75%;
	text-align:left;
	background:#849773 url(../../images/shp_cart.gif) 5px 30px no-repeat;
	color:#FFCCCC;
	margin:5px 5px 0 5px;
}
.cpt_shopping_cart_info a {
	font-size:15px;
	text-decoration:none;
	border-bottom:solid 1px;
	color:#fff;
	line-height:20px;
}
.cpt_shopping_cart_info div {
	padding:3px;
	font-weight:bold;
	color:#D3D9CC;
	padding:0;

}
#shpcrtgc, #shpcrtca { padding-left:55px; padding-top:5px;}
.cpt_survey {
	background:#4c91cd;
	color:#fff;
	margin:0 5px 5px 5px;
}
.survey_question {
	font-weight: bold;
	margin-bottom: 10px;
}
.survey_submit {
	margin-top: 10px;
}
.cpt_survey form {
	padding:0px;
	margin: 0px;
	font-size:75%;
}
.cpt_survey label {
	font-size:75%;
	color:#fff;
}
.cpt_survey td { vertical-align:top;}
.cpt_survey input {
	font-size:130%;
}
.cpt_currency_selection {
	text-align: center;
	font-size: 75%;
	background:#849773;
	margin:0 5px 5px 5px;
	//margin:0 5px 0 5px;

}
.cpt_currency_selection form {
	line-height:40px;
	display: inline;
	margin:0;
	padding:0;
}
.cpt_currency_selection select {
	font-size: 90%;
	line-height:20px;
//margin-bottom:10px;
}
.cpt_currency_selection span {
//display:block;
//float:left;
//padding:0 10px 0 10px;
//margin-bottom:10px;
color:#fff;
}
.cpt_news_short_list {
	background:#86ACCD;
	margin:0 5px 5px 5px;
	//margin:0 5px 0 5px;
}
.cpt_category_tree {
	background:#86accd;
	font-size:70%;
	padding:0 0 10px 0;
	margin:0 5px 5px 5px;
	//margin:0 5px 0 5px;
}
.cpt_category_tree ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.cpt_category_tree li {
	padding:0 5px 0 10px;
}
.cpt_category_tree li a {
	font-size:110%;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
.cpt_category_tree li a {
	background:url(../../images/glr_arrow_category_small_white.gif) 5px 6px no-repeat;
	padding:0 0 0 15px;
	line-height:150%;
}
.cpt_category_tree a:hover {
	text-decoration:none;
	color:#1C334D ;
}

.cpt_category_tree .parent_current a {
	font-weight: bold;
	color: #1c334d!important;
	text-decoration: none !important;
}




.cpt_category_tree .child a {
font-size:95%;
	margin-left: 15px;
	font-weight:normal;
}
.cpt_category_tree .child_current a {
	margin-left: 25px;
	color: #1c334d!important;
	text-decoration: none!important;
	font-size:95%;
}

.cpt_category_tree .tab {
	margin-left:10px;
}
.cpt_product_add2cart_button {
	padding: 10px 0;
}
.cpt_language_selection {
	background:#b2657b;
	margin:0 5px 5px 5px;
	padding:0 10px;
l
}
.cpt_language_selection a img {
	border:solid 1px #fff;
	margin:2px 0;
}
.cpt_product_params_selectable {
}
.cpt_product_category_info {
	font-size:75%;
}
.cpt_product_search {
	margin:0;
	font-size:85%;
	text-align:right;
	padding-right:100px;
	clear:both;
}
.cpt_product_search form, .cpt_language_selection {
	line-height:35px;
}
.cpt_language_selection a img {
//margin-bottom:14px;
}
.cpt_product_search form {
//margin-bottom:10px;
}
.cpt_product_search input {
	font-size:90%;
	vertical-align:middle;
}
/*for opera*/

html:first-child .cpt_product_search form, html:first-child .cpt_product_search form {
	margin:0 0 15px 0;
}
html:first-child .cpt_currency_selection  { line-height:35px;}


.cpt_category_tree a:hover {
	text-decoration:underline;
}

 .cpt_product_lists {
	padding:10px;
}
.cpt_product_lists table { margin:0 auto; }
.cpt_product_lists ul { }
.cpt_root_categories td { 
	font-size:100%;
}
.cpt_root_categories td a.rcat_root_category {
	display:inline;
	text-decoration:underline;
	font-size:110%;
	color:#000;
	font-weight:bold;
}
.cpt_root_categories td a:hover {
	text-decoration:underline;
}
.cpt_maincontent {
	background:#fff;
}
.cpt_maincontent center { clear:both; //width:100%;}
.cpt_maincontent td {
	font-size:75%;
}
ul.product_list li {
	margin:0 0 5px 0;
	text-align:left;
	float:left;
}
ul.product_list li table {
	float:left;
}
ul.product_list li a {
	color:#000;
	padding-left:5px;
	display:block;
	float:left;
	width:160px;
}
ul.product_list li table a {
	float:none;
}

.cpt_tag_cloud { background:#A4C388; margin:5px;}
.cpt_tag_cloud a { color:#fff; text-decoration:none;}
.cpt_tag_cloud a:hover { color:#921515;}
.home_page_category_logo { background:url(../../images/defaultnocatimage.gif) left top no-repeat; display:block; height:65px; width:65px;}
/* ====================== SET HOW CERTAIN COMPONENTS APPEAR IN VARIOUS CONTAINERS ====================== */
/* ====================== (if you wish to overwrite default appearence of components in certain containers) ====================== */
#container_main_content .cpt_root_categories td.cat_image a {position:relative; top:-0.8em;}
#container_main_content .cpt_root_categories { padding-top:1em;}
#container_main_content .cpt_root_categories { padding-top:1em;}
#container_main_content .cpt_root_categories td { vertical-align:top;}
#container_main_content div { zoom:0;}

#container_top .cpt_auxpages_navigation { text-align:right;float:none; margin:0 80px 80px 0;}
#container_top .cpt_auxpages_navigation ul, #container_top .cpt_auxpages_navigation ul li, #container_top .cpt_auxpages_navigation ul li a  { display:inline;float:none;}
#container_top .cpt_auxpages_navigation ul li a:hover { color:#990033; }
#container_top .cpt_auxpages_navigation ul li { background:url(../../images/shp_point_v.gif) 10px center no-repeat;}
#container_footer .cpt_divisions_navigation { float:none; width:100%;
	text-align:center;
	padding:0;
}
#container_footer .cpt_divisions_navigation ul, #container_footer .cpt_divisions_navigation ul li {
	display:inline;
	line-height:40px;
	float:none;
}
#container_footer .cpt_divisions_navigation a {
	font-size: 90%;
	font-weight: bold;
	color:#354e64;
	font-size:110%;
	padding:0 10px;
	display:inline;
	text-decoration:underline;
}
#container_main_content ul { list-style-position:inside;}
/* ====================== STYLES OF ELEMENTS THAT APPEAR INSIDE VARIOUS COMPONENTS ====================== */
h1.welcome { color:#214B70; font-weight:normal; font-size:19pt; letter-spacing:-1px; margin:20px 10px;}

a.shp_logo { line-height:40px; text-decoration:none;}
span.shp_l1 {
	color:#fff;padding:0 2px;
}
span.shp_l2 {
	color:#fff;padding:0 2px;
}
span.shp_l3 {
	color:#fff;padding:0 2px;
}
.shp_greenbg { background:#A4C388; overflow:hidden;}
.shp_menu_end { float:right; width:auto; position:relative; right:-2px;}

.bullet {
	font-size:0px;
}
a .bullet {
	text-decoration: none!important;
}
input.input_message, input.input_message_focus {
	width:120px;
}
#searchstring {
	width: 150px;
	margin:0 0 0 15px;
	background-color:white;
	border:1px solid #AA5A5A;
	font-size:12px;
	font-weight:normal;
	padding:2px;
}
#shpcrtca {
	font-weight: bold;
	font-size: 130%;
	white-space: nowrap;
}

.bluebg { background:#86ACCD;}
.darkbluebg {background:#688DAD;}
.middlebluebg { background:#4C91CD; }
.pinkbg{background:#b2657b;}
.shp_main_header { background:#f0f0f0; text-transform:uppercase; line-height:30px; padding:0 0 0 15px; color:#595959; font-weight:bold; font-size:110%;}
.hndl_submit_prds_cmp { margin:5px 0;}
#cat_top_tree { overflow:hidden; margin-bottom:10px;}

/* ====================== PREDEFINED STYLES; edit, but do not delete these styles ====================== */

.small {
	font-size: 60%;
}
.big {
	font-size: 150%;
}
.background1, .background1 td {
	background-color: #D9E9FF;
}
.btn_checkout {
	font-size: 130%;
	font-weight: bold;
	margin: 10px;
	padding: 3px;
}

.product_brief_block { margin:20px 20px 0 0;border:solid 1px #f0f0f0; padding:10px 2px 0px 2px; overflow:hidden;}
.prdbrief_thumbnail { float:left; margin:0 5px 1px 0;}
.prdbrief_thumbnail td { vertical-align:top; padding:5px;}
.prdbrief_options,  .prdbrief_comparison {  padding:2px 10px 2px 20px; margin-bottom:2px; }
.prdbrief_comparison, .prdbrief_price {}
.prdbrief_options, .prdbrief_comparison { clear:left;}
.prdbrief_comparison {background:#f8f8f8;}
.prdbrief_comparison input { vertical-align:middle;}
.prdbrief_name { margin-bottom:5px;}
.prdbrief_name a { font-size:125%; line-height:135%; text-decoration:none; border-bottom:solid 1px;}
.product_option { width:auto;}
.cpt_product_name { margin-bottom:10px;}
.prdbrief_price, .prdbrief_add2cart { float:left; width:auto; padding:10px 10px 10px 20px; }
 
.add2cart_handler { vertical-align:middle;}
.error_block {
	font-weight: bold;
	color: red;
}
/*

a.admdivslst:hover,a.admdivslst:link,a.admdivslst:visited,a.admdivslst:active{text-decoration: none;color: blue;font-weight:normal;font-size:10pt;}
a.admdivslst:hover{color: navy;}

a.h_admdivslst:hover,a.h_admdivslst:link,a.h_admdivslst:visited,a.h_admdivslst:active{text-decoration: none;color: #888888;font-weight:normal;font-size:10pt;}
a.h_admdivslst:hover{color: #555555;}

*/
/*design folders*/

.col_header {
	margin:5px 5px 0 5px;
	padding:5px 10px;
	color:#fff;
	font-size:80%;
	text-transform:uppercase;
	font-weight:bold;
}

#tbl-checkout-progress td {
	font-size: 0.7em;
	vertical-align: top;
}
.current_prd_thumbnail img {
	border: #BBBBBB 3px solid;
}
a.prd_thumbnail img {
	border: #FFFFFF 3px solid;
}
a.prd_thumbnail:hover img {
	border: #BBBBBB 3px solid;
}
.news_date {
	color: #214b70;
	font-weight:bold;
}
.news_title {
color:#fff;
	padding-bottom: 10px;
}
.news_title a { color:#fff; font-weight:normal;}
.news_title a:hover { color:#fff;}
.news_viewall {
	padding-bottom: 10px;
	font-size: 85%;
}
.news_subscribe, .news_thankyou {
	padding: 5px;
	overflow:hidden;
}
.news_subscribe div {
	float:left;
	width:auto;
}
.news_subscribe img { vertical-align:middle;}
/************************
BLOG STYLES
***************************/
.post_title {
	color: #666;
	margin-top: 30px;
	margin-bottom: 0px;
}
.post_date {
	color: #999;
	border: 0px solid #EEE;
	border-top-width: 1px;
	margin-bottom: 15px;
}
.post_content {
	padding-left: 15px;
}
/***************************
PRODUCTS COMPARISON
****************************/
.cmp_headers {
	background-color: #d9e9ff;
}
.cmp_column_odd {
	background-color: white;
	vertical-align: top;
}
.cmp_column_even {
	background-color: #F2F8FF;
	vertical-align: top;
}
#cmp-table tr:hover td {
	background-color: #d5e5fa!important;
}
#cmp-table tr td {
	text-align:center;
	padding: 6px;
}
#cmp-table tr td.cmp_headers {
	text-align: left;
}
/***************************
PRODUCT DETAILED
****************************/
.regularPrice {
	color: brown;
	text-decoration: line-through;
}
.totalPrice {
	color: #800000;
	font-weight: bold;
	font-size: 130%;
}
.youSaveLabel {
	font-size: 75%;
}
.youSavePrice {
	font-size: 75%;
}
.prd_out_of_stock {
	font-style:  italic;
}
.cpt_product_images { float:left;}
.cpt_product_price { margin:10px 0;}
#prddeatailed_container { overflow:hidden; display:block; padding-bottom:20px;}
.cpt_product_discuss_link, .cpt_product_related_products { margin-bottom:20px;}
.cpt_product_related_products td { padding-right:10px;}
.current-rating1 { font-size:135%;}
.sm-current-rating1 {  float:left;}
#cat_product_sort { background:#f0f0f0; padding:5px 0; margin:10px 0; text-align:center; }
#cat_product_sort a { color:#000; padding:0 2px;}
/************************
PRODUCT REVIEWS STYLES
***************************/
.review_block {
	margin-left: 20px;
}
.review_title {
	color: #333;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 120%;
}
.review_date {
	color: #999;
	border: 0px solid #EEE;
	border-top-width: 1px;
	font-size: 90%;
	margin-bottom: 5px;
}
.review_content {
	color: #333;
	padding-left: 20px;
}
.review_showall {
	margin-left: 20px;
}
/****************************
SHOPPING CART
*****************************/
.background_cart_top {
	background-color: #D9E9FF;
	border-bottom: 1px #99C9DF solid;
}
.background_cart_top h1 {
	display: inline;
	padding: 0px;
	margin: 0px;
}
#cart_content_tbl{
width:100%;
}
#cart_content_tbl td {
	padding: 6px;
}
#cart_page_title {
	padding: 10px;
	text-align: left;
}
#cart_page_title h1 {
 display inline;
	padding: 0px;
	margin: 0px;
}
#cart_clear {
	padding: 10px;
	text-align: right;
}
#cart_clear a {
	font-size:9pt;
}
.cart_discount_label {
	font-weight: bold;
}
#cart_total_label {
	font-size: 130%;
	font-weight: bold;
}
#cart_total {
	background-color: #D9E9FF;
	font-size: 130%;
	font-weight: bold;
	padding: 10px;
	white-space: nowrap;
}
#cart_checkout_btn {
	padding-top: 20px;
}
.cart_product_brief_description {
	font-size: 80%;
}
#cart_content_header td {
	font-weight: bold;
}
.cart_apply_for_discounts_extra {
	font-size: 80%;
	color: #777;
}
.cart_product_quantity {
	text-align: center;
}
/********************
HOMEPAGE UNFOLDED TREE
*********************/
.rcat_root_category {
	font-size: 120%;
	font-weight: bold;
}
.rcat_products_num {
	color: #921515;
	font-size: 80%;
}
.rcat_child_categories a {
	font-size: 100%;
	font-weight: normal;
	color:#000;
	text-decoration:none;
}
.rcat_child_categories a:hover {
	text-decoration:underline;
}
/********************
REGISTRATION PAGE
*********************/
#reg_fields_tbl td {
	padding: 5px;
}
#reg_auth_fields td {
	background-color: #D9E9FF;
}
#reg_confcode td {
	background-color: #D9E9FF;
}
#reg_fields_tbl td input, .addressform td input {
	width: 200px;
}
#subscribed4news {
	width:auto!important;
}
#reg_fields_tbl td textarea, .addressform td textarea {
	width: 200px;
	height: 100px;
}
#reg_fields_tbl select {
	width: 200px;
}
#reg_submit_btn {
	font-size:150%;
	font-weight: bold;
}
/*********
SEARCH IN CATEGORY
**********/
#cat_advproduct_search {
background:#D9E9FF;
	margin-right:10px;
	width:230px;
}
#cat_advproduct_search form { padding:10px; }
#cat_advproduct_search td { vertical-align:top; }
#cat_advproduct_search select { width:100%;  }
#cat_advproduct_search form, #cat_advproduct_search table { //width:100%;}
#cat_advproduct_search h3 { padding:0px; margin: 10px 10px 0 10px;}
#cat_info_left_block, #cat_advproduct_search  { float:left;}

.cpt_maincontent center { clear:both;}
#cat_top_tree { overflow:hidden; margin-top:10px;}
.hndl_submit_prds_cmp, #cat_product_sort { margin:10px 0;}

#cat_info_left_block { color:#921515; font-size:85%;
}
#cat_info_left_block a { font-size:115%;}
/************
CHECKOUT
************/
.checkout_noframe_title {
	padding: 5px 15px;
	text-align:left;
}
#checkout_have_account {
	padding: 15px;
	background-color: #D9E9FF;
	margin: 0 -5px 15px -5px;
}
#checkout_logininfo { width:428px;}
#checkout_logininfo .inputtext, #checkout_addresses .inputtext, #checkout_addresses textarea {
	width: 200px;
}
.paddingblock input.checkout_buttons {
	font-size: 130%;
	font-weight: bold;
	margin:5px 0;
}
.checkout_steps_divider {
	width: 40px;
	height:1px;
	background-color:#99C9DF;
	overflow:hidden;
}
#checkout_addresses { width:800px;}
#checkout_addresses td { } 
/**********************
ORDER STYLES
***********************/
tr#ord_total_row * {
	font-size: 105%;
	font-weight: bold;
}
.row_odd td {
	background-color: #F2F8FF;
}
.row_even td {
	border: 0px solid #D9E9FF;
	border-width: 1px 0px;
}

.paddingblock { background:#fff;
	padding-left: 15px;
	padding-right: 15px;
	text-align:left;
	font-size:12pt;
}
.paddingblock h2 {
	padding:20px 5px;
	margin-top: 0px;
}
.paddingblock td { font-size:95%; vertical-align:top; padding:5px;}
.paddingblock p { margin-bottom:10px;}

.paddingblock input { margin:2px 0 0 0;}
.asterisk {
	color:red;
}
.cellpadding tr td {
	padding: 5px;
}
.cust_name {
	font-size:110%;
	font-weight: bold;
}
#prddeatailed_container .cpt_product_rate_form table {
	width: 100%;
	/***********************/
width: auto;/**/
}

#block-customerinfo td { font-size:100%;}
.cpt_product_images {
	float: left;
}
#powered_by, #powered_by a {
	color:#fff!important;
}
.shp_copyright {
	color:#fff;
	font-size:75%;
	text-align:center;
}
.shp_copyright a {
	color:#fff;
	font-weight:bold;
}
/*NIFTY*/
b.niftycorners, b.niftyfill {
	display:block
}
b.niftycorners * {
	display:block;
	height:1px;
	line-height:1px;
	font-size:1px;
	overflow:hidden;
	border-style:solid;
	border-width: 0 1px;
}
/*normal*/
b.r1 {
	margin: 0 3px;
	border-width: 0 2px
}
b.r2 {
	margin: 0 2px
}
b.r3 {
	margin: 0 1px
}
b.r4 {
	height: 2px
}
b.rb1 {
	margin: 0 8px;
	border-width:0 2px
}
b.rb2 {
	margin: 0 6px;
	border-width:0 2px
}
b.rb3 {
	margin: 0 5px
}
b.rb4 {
	margin: 0 4px
}
b.rb5 {
	margin: 0 3px
}
b.rb6 {
	margin: 0 2px
}
b.rb7 {
	margin: 0 1px;
	height:2px
}
b.rb8 {
	margin: 0;
	height:2px
}
b.rs1 {
	margin: 0 1px
}
/*transparent inside*/
b.t1 {
	border-width: 0 5px
}
b.t2 {
	border-width: 0 3px
}
b.t3 {
	border-width: 0 2px
}
b.t4 {
	height: 2px
}
b.tb1 {
	border-width: 0 10px
}
b.tb2 {
	border-width: 0 8px
}
b.tb3 {
	border-width: 0 6px
}
b.tb4 {
	border-width: 0 5px
}
b.tb5 {
	border-width: 0 4px
}
b.tb6 {
	border-width: 0 3px
}
b.tb7 {
	border-width: 0 2px;
	height:2px
}
b.tb8 {
	border-width: 0 1px;
	height:2px
}
b.ts1 {
	border-width: 0 2px
}
body.body-page-404 { background:#fff; background-image:none; text-align:left; font-size:12px;}
body.body-page-404 ul, body.body-page-404 li { list-style:none;}
.cpt_product_add2cart_button input { vertical-align:middle;}
