<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset={"str_default_charset"|translate}" />
		<title>{"str_admin_title"|translate}</title>
		<link rel="stylesheet" href="style1.css" type="text/css" />
	</head>
	<body>
		<br />
		<br />
		<form action="" method="post">
		<table align="center">
			{if $Error}
			<tr>
				<td colspan="2"><div style="color:red">{"err_wrong_password"|translate}</div></td>
			</tr>
			{/if}
			<tr>
				<td>{"usr_custinfo_login"|translate}</td>
				<td><input type="text" name="fLogin" value="{$Login}" /></td>
			</tr>
			<tr>
				<td>{"usr_custinfo_password"|translate}</td>
				<td><input type="password" name="fPassword" value="{$Password}" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="{"btn_ok"|translate}" /></td>
			</tr>
			<tr>
				<td colspan="2"><a href="index.php">{"str_admin_gotofrontend"|translate}</a></td>
			</tr>
		</table>
		</form>
	</body>
</html>