{* countries configuration *}

<h1>{lbl_pgn_countries}</h1>

{$MessageBlock}

<form action="{''|set_query_html}" method="post">

<table cellpadding="0" cellspacing="0" width="70%" class="grid">

	<tr class="gridsheader">
		<td>{"usr_custinfo_country"|translate}</td>
		<td width="1%" nowrap="nowrap">{"cntr_country_iso2"|translate}</td>
		<td width="1%" nowrap="nowrap">{"cntr_country_iso3"|translate}</td>
		<td width="1%">&nbsp;</td>
	</tr>

	{foreach from=$countries item=country}

	<tr class="{cycle values='gridline,gridline1'}">
		<td>
			{html_text style="width:100%;" dbfield='country_name' name="country_name_%lang%_`$country.countryID`" values=$country}
		</td>
		<td align="center">
			<input type="text" name="country_iso2_{$country.countryID}" value="{$country.country_iso_2|escape:'html'}" size="3" />
		</td>
		<td align="center">
			<input type="text" name="country_iso3_{$country.countryID}" value="{$country.country_iso_3|escape:'html'}" size="3" />
		</td>
		<td>
			<a href="javascript:confirmDelete({$country.countryID},'{"cnfrm_delete"|translate}','{"delete="|set_query_html}&amp;delete=');">
				<img src="images/remove.gif" border="0" alt="{"btn_delete"|translate}" />
			</a>
		</td>
	</tr>

	{/foreach}
	
	{if $navigator}
	<tr class="gridsfooter">
		<td colspan="4">{$navigator}</td>
	</tr>
	{/if}

	<tr>
		<td colspan="4">&nbsp;</td>
	</tr>
	<tr class="gridsheader">
		<td colspan="4" align="center">{"btn_add"|translate}</td>
	</tr>
	<tr class="gridline">
		<td>{html_text style="width:100%;" name="country_name"}</td>
		<td><input type="text" name="country_iso2" size="3" /></td>
		<td><input type="text" name="country_iso3" size="3" /></td>
		<td>&nbsp;</td>
	</tr>
	<tr class="gridsfooter">
		<td colspan="4">
		<br />
		<input type="hidden" name="dpt" value="conf" />
		<input type="hidden" name="sub" value="countries" />
		<input type="hidden" name="save_countries" value="yes" />
		<input type="submit" value="{"btn_save"|translate}" />
		</td>
	</tr>


</table>
</form>