<h1 class="breadcrumbs">
	<a href="{'?ukey=manage_news'|set_query_html}">{lbl_blog_post_list}</a>	
	&raquo;
	{$CurrentDivision.name|translate}
</h1>

<form action="{''|set_query_html}" method="POST" name='MainForm'>
<input type="hidden" name="fACTION" value="ADD_NEWS" />

<table cellspacing="6">
<tr>
	<td>{"str_priority"|translate}:</td>
	<td>
		<input type=text name='DATA[priority]' value="{if $NewsInfo.priority}{$NewsInfo.priority}{else}0{/if}" size="12" />
	</td>
</tr>
<tr>
	<td>{"blog_postdate"|translate}:
	</td>
	<td>
		<input type=text name='DATA[add_date]' value="{if $NewsInfo.add_date}{$NewsInfo.add_date}{else}{$current_date}{/if}" size="12" />
	</td>
</tr>

<tr>
	<td>{"blog_post_title"|translate} <span class="notice">({"blog_str_not_html"|translate})</span>:</td>
	<td>
		{*<input type=text name='DATA[title]' value='{$NewsInfo.title}' size="50" />*}
		{html_text namespace="DATA" name="title" values=$NewsInfo table=$smarty.const.PRODUCTS_TABLE style="width:100%"}
	</td>
</tr>
<tr>
	<td colspan="2">
		{"blog_post_body"|translate}:<br />
		{*<textarea cols=40 rows=6 class="mceEditor" name="DATA[textToPublication]">{$NewsInfo.textToPublication}</textarea>*}
		{html_textarea namespace="DATA" name="textToPublication" values=$NewsInfo rows=3 cols=40 table=$smarty.const.PRODUCTS_TABLE style="width:100%" class="mceEditor"}
	
	</td>
</tr>
<tr>
	<td colspan="2">
		{"blog_post_newsletter_body"|translate}:<br /> 
		<textarea cols=40 rows=6 class="mceEditor" name='DATA[textToMail]' style="width:100%;">{$NewsInfo.textToMail}</textarea>
	</td>
</tr>
<tr>
	<td align="right" valign="top">{"blog_emailposttosubscribers"|translate}</td>
	<td>
		<input type="checkbox" name="DATA[emailed]" value="1"{if $NewsInfo.emailed} checked="checked"{/if} />
	</td>
</tr>
<tr>
	<td colspan="2">
		<input type=submit value="{"btn_add"|translate}" />
	</td>
</tr>
</table>
</form>
{include file="backend/tiny_mce_config.html"}