<h1>{$CurrentDivision.name|translate}</h1>

<p>{lbl_prdlist_description}</p>

{$MessageBlock}

<form action="{''|set_query_html}" method="post">
<input name="action" value="save_lists" type="hidden" />

<table id="tbl-methods" class="grid">
<tr class="gridsheader">
	<td>{"prdlist_id"|translate}</td>
	<td>{"str_name"|translate}</td>
	<td>{"prdlist_products_in_list"|translate}</td>
	<td>{"btn_delete"|translate}</td>
</tr>
{foreach from=$product_lists item=_list}
<tr class="{cycle values='gridline,gridline1'}">
	<td>
		<strong>{$_list.id|escape:'html'}</strong>
	</td>
	<td>
		<input name="name_{$_list.id|escape:'html'}" value="{$_list.name|escape:'html'}" size="20" maxlength="255" />
	</td>
	<td align="center">
		<a class="normal" href='{"action=edit_list&list_id=`$_list.id`"|set_query_html}'>{'prdlist_lbl_products_in_list'|translate|replace:'%PRODUCTS_NUM%':$_list.products_num}</a>
	</td>
	<td align="center">
		<a href='{"action=delete_list&list_id=`$_list.id`"|set_query_html}' class="confirm_action" title="{'cnfrm_areyousure'|transcape}"><img src="images_common/remove.gif" alt="{'btn_delete'|transcape}" border="0" /></a>
	</td>
</tr>
{/foreach}
<tr class="gridsheader_simple">
	<td colspan="4">{lbl_prdlist_add_list_title}</td>
</tr>
<tr class="gridsheader">
	<td>{"prdlist_id"|translate}</td>
	<td>{"str_name"|translate}</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>
		<input name="id" value="{$new_list.id|escape:'html'}" type="text" size="20" maxlength="20" />
	</td>
	<td>
		<input name="name" value="{$new_list.name|escape:'html'}" size="20" maxlength="255" />
	</td>
	<td>
	</td>
	<td>
	</td>
</tr>
</table>

<p>
<input value="{'btn_save'|transcape}" type="submit" />
</p>
</form>